USE [COGDB1]
GO
/****** Object:  StoredProcedure [dbo].[SCHEDULE_TASKLOGTB_INSERT_MANUAL_SP]    Script Date: 2019/11/19 下午 05:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SCHEDULE_TASKLOGTB_INSERT_MANUAL_SP]
	--@UTILITYID int
AS
BEGIN
	DECLARE @MESSAGE VARCHAR(500),@STATUS BIT
	DECLARE @CREATEDBYNAME  Varchar(50) 
	DECLARE @UTILITYID int
	DECLARE @EXECUTE_DT Datetime
	DECLARE @TIME_INTERVAL Varchar(200)
	DECLARE @MAX_MISDATE DATE ,@NEXT_MISDATE DATE

	IF(OBJECT_ID('tempdb..#Temp1') IS NOT NULL)
			DROP TABLE #Temp1
	IF(OBJECT_ID('tempdb..#Temp2') IS NOT NULL)
			DROP TABLE #Temp2
	IF(OBJECT_ID('tempdb..#Temp3') IS NOT NULL)
			DROP TABLE #Temp3

	BEGIN TRY
	    SET @MESSAGE = ''
	--SET @UTILITYID = (SELECT UTILITYID FROM BASE_UtilityTB WHERE UTILITYNAME = @UTILITYNAME)
	
	--IF(@EXECUTE_TYPE = 'Interval')
	--BEGIN
	--SET @EXECUTE_DT = CONVERT(VARCHAR(20),GETDATE(),111)
	--END
	--IF(@EXECUTE_TYPE = 'Time')
	--BEGIN
	--SET @EXECUTE_DT = CONVERT(VARCHAR(20),GETDATE(),111) +' ' +@TIME_INTERVAL
	--END
	--TRUNCATE TABLE SCHEDULE_TASKLOGTB


		--Clear LOG Keep 1 Year
		DELETE FROM SCHEDULE_TASKLOGTB WHERE MIS_DATE < DATEADD(year,-1, GETDATE())  
 

		SET @NEXT_MISDATE = GETDATE()

	
		-- FOR MANUAL
	    --DELETE FROM SCHEDULE_TASKLOGTB WHERE MIS_DATE = @NEXT_MISDATE		--

		SELECT @MAX_MISDATE = ISNULL(MAX(MIS_DATE),DATEADD(day,-1, GETDATE())) FROM SCHEDULE_TASKLOGTB
		IF @NEXT_MISDATE = @MAX_MISDATE AND DATEPART (hour,GETDATE()) = 23 
		BEGIN			
			 SET @NEXT_MISDATE = DATEADD(day, 1, GETDATE())
		END

		IF @MAX_MISDATE < @NEXT_MISDATE 
		BEGIN

			SELECT  
			* 
			INTO #Temp1
			FROM SCHEDULE_TASKTB
			WHERE DOC_STATUS = '啟用'

			SELECT * 
			INTO #Temp2
			FROM #Temp1 
			WHERE EXECUTE_TYPE = 'Interval'

			INSERT INTO SCHEDULE_TASKLOGTB 
			(
				[DOCGUID]
			  ,[MIS_DATE]
			  ,[UTILITYID]
			  ,[UTILITYNAME]
			  ,[SERVER_NAME]
			  ,[SCHEDULE_SERVICE]
			  ,[TASKID]
			  ,[TASKNAME]
			  ,[EXECUTE_DT]
			  ,[TIME_INTERVAL]
			  ,[DURATION]
			  ,[PROGRAM_TYPE]
     
			)
			SELECT
			DOCGUID,
			--CONVERT(VARCHAR(10),DATEADD(day,+1,GETDATE()),111),
			@NEXT_MISDATE,--UAT
			[UTILITYID],
			[UTILITYNAME],
			[SERVER_NAME],
			[SCHEDULE_SERVICE],
			[TASKID],
			[TASKNAME],
			--CONVERT(VARCHAR(10),DATEADD(day,+1,GETDATE()),111),
			@NEXT_MISDATE,--UAT
			[TIME_INTERVAL],
			[DURATION],
			[PROGRAM_TYPE]
			FROM #Temp2 


			SELECT * 
			INTO #Temp3
			FROM #Temp1 
			WHERE EXECUTE_TYPE = 'Time'

			--DECLARE @INT int

			--DECLARE INSERTCUR CURSOR FOR

			--SELECT TASKID,TIME_INTERVAL FROM #Temp3

			--OPEN INSERTCUR

			--FETCH NEXT FROM INSERTCUR INTO @INT


			INSERT INTO SCHEDULE_TASKLOGTB 
			(
				[DOCGUID]
			  ,[MIS_DATE]
			  ,[UTILITYID]
			  ,[UTILITYNAME]
			  ,[SERVER_NAME]
			  ,[SCHEDULE_SERVICE]
			  ,[TASKID]
			  ,[TASKNAME]
			  ,[EXECUTE_DT]
			  ,[TIME_INTERVAL]
			  ,[DURATION]
			  ,[PROGRAM_TYPE]
			  ,SEND_TO
			  ,ALERT_MAIL
			  ,RERUN
			 ,EXCEPTION   --UAT test Window Service 暫註解
     
			)
			SELECT
			DOCGUID,
			--CONVERT(VARCHAR(20),DATEADD(day,+1,GETDATE()),111),
			@NEXT_MISDATE, --UAT
			[UTILITYID],
			[UTILITYNAME],
			[SERVER_NAME],
			[SCHEDULE_SERVICE],
			[TASKID],
			[TASKNAME],
			--CONVERT(VARCHAR(20),DATEADD(day,+1,GETDATE()),111)+' '+ B.COL1,
			CONVERT(VARCHAR(20),@NEXT_MISDATE,111)+' '+ B.COL1,--UAT
			B.COL1,
			[DURATION],
			[PROGRAM_TYPE]
			 ,SEND_TO
			 ,ALERT_MAIL
			,'N'
			,0   --UAT test Window Service 暫註解
			 FROM #Temp3 AS A
			CROSS APPLY dbo.Fn_SplitToTable(A.TIME_INTERVAL) AS B

		

		END
		ELSE
		BEGIN
		  SET @MESSAGE=	'DATE='+ CONVERT(VARCHAR(20),@NEXT_MISDATE,111) + ' EXISTS !'
		END
		
		SET @STATUS = 1
	END TRY
	BEGIN CATCH
		SET @STATUS = 0
		SET @MESSAGE = ERROR_MESSAGE()
	END CATCH
	
	SELECT @STATUS [Status], @MESSAGE [Message]

END





