USE [COGDB2]
GO
/****** Object:  StoredProcedure [dbo].[UIDRP_MISREPORT_MIS10200_SP1]    Script Date: 2019/5/17 下午 05:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Alpha Hsu
-- Create date: 2019/09/19
-- Description:	1.2	Weekly Check(MISREPORT/MISRPT10200)
-- 請參考：WEEK_CHK.PRG FoxPro程式原始碼
-- =============================================
ALTER PROCEDURE [dbo].[UIDRP_MISREPORT_MIS10200_SP]
AS

BEGIN

SET NOCOUNT ON;

DECLARE @MESSAGE Varchar(500), @Status bit= 0, @RECSTR as Varchar(10), @TITLE1 Varchar(100), @TITLE2 Varchar(100)
DECLARE @A3 as INT, @R_DATE as DATE, @DATAAS as DATE--, @F_DATE as DATE, @F_WEEK as INT, @DIFF1 as INT
DECLARE @COUNT1 as INT, @COUNT2 as INT
DECLARE @WHERE VARCHAR(500) 
DECLARE @IsTODAY BIT = 1
DECLARE @R_DATE_CACS AS DATE

SET @MESSAGE=''
SET @R_DATE= DATEADD(Day,-1,GETDATE())
SET @DATAAS= DATEADD(Day,-1,GETDATE())
SET @R_DATE_CACS = GETDATE()

--SET @R_DATE= CAST('2019/09/26' AS DATE) --GETDATE()
--SET @DATAAS= @R_DATE --DATEADD(Day,-1,@R_DATE)
--SET @R_DATE_CACS = CAST('2019/10/01' AS DATE) 

--IF OBJECT_ID('tempdb..#IDRP_BASE_EX') IS NOT NULL DROP TABLE #IDRP_BASE_EX
--IF OBJECT_ID('tempdb..#CHK_STATE') IS NOT NULL DROP TABLE #CHK_STATE
--IF OBJECT_ID('tempdb..#CHK_STATE1') IS NOT NULL DROP TABLE #CHK_STATE1
--IF OBJECT_ID('tempdb..#CHK_STATE2') IS NOT NULL DROP TABLE #CHK_STATE2
--IF OBJECT_ID('tempdb..#CHK_STATE3') IS NOT NULL DROP TABLE #CHK_STATE3
--IF OBJECT_ID('tempdb..#CHK_STATE4') IS NOT NULL DROP TABLE #CHK_STATE4
--IF OBJECT_ID('tempdb..#CHK_STATE5') IS NOT NULL DROP TABLE #CHK_STATE5
--IF OBJECT_ID('tempdb..#CHK_STATE6') IS NOT NULL DROP TABLE #CHK_STATE6
--IF OBJECT_ID('tempdb..#CHK_STATE7') IS NOT NULL DROP TABLE #CHK_STATE7
--IF OBJECT_ID('tempdb..#APPEND_FAIL') IS NOT NULL DROP TABLE #APPEND_FAIL
--IF OBJECT_ID('tempdb..#STOP') IS NOT NULL DROP TABLE #STOP
--IF OBJECT_ID('tempdb..#APPEND_STOP') IS NOT NULL DROP TABLE #APPEND_STOP
--IF OBJECT_ID('tempdb..#CONT1') IS NOT NULL DROP TABLE #CONT1
--IF OBJECT_ID('tempdb..#APPEND_CONT') IS NOT NULL DROP TABLE #APPEND_CONT
--IF OBJECT_ID('tempdb..#TKD1') IS NOT NULL DROP TABLE #TKD1
--IF OBJECT_ID('tempdb..#APPEND_TKD') IS NOT NULL DROP TABLE #APPEND_TKD
--IF OBJECT_ID('tempdb..#WEEK_STATE') IS NOT NULL DROP TABLE #WEEK_STATE
--IF OBJECT_ID('tempdb..#CHK_ACCT') IS NOT NULL DROP TABLE #CHK_ACCT
--IF OBJECT_ID('tempdb..#CHK_ACCT1') IS NOT NULL DROP TABLE #CHK_ACCT1
--IF OBJECT_ID('tempdb..#CHK_ACCT2') IS NOT NULL DROP TABLE #CHK_ACCT2

IF OBJECT_ID('tempdb..#DEBT_ACCT') IS NOT NULL DROP TABLE #DEBT_ACCT
--IF OBJECT_ID('tempdb..#DEBT_ACCT1') IS NOT NULL DROP TABLE #DEBT_ACCT1
--IF OBJECT_ID('tempdb..#DEBT_ACCT2') IS NOT NULL DROP TABLE #DEBT_ACCT2
IF OBJECT_ID('tempdb..#FAIL_IDRP') IS NOT NULL DROP TABLE #FAIL_IDRP
IF OBJECT_ID('tempdb..#R_BASE') IS NOT NULL DROP TABLE #R_BASE
IF OBJECT_ID('tempdb..#SIGN_BASE') IS NOT NULL DROP TABLE #SIGN_BASE
IF OBJECT_ID('tempdb..#BLK_BASE_TEMP') IS NOT NULL DROP TABLE #BLK_BASE_TEMP
IF OBJECT_ID('tempdb..#BLK_BASE0') IS NOT NULL DROP TABLE #BLK_BASE0
IF OBJECT_ID('tempdb..#BLK_BASE1') IS NOT NULL DROP TABLE #BLK_BASE1
IF OBJECT_ID('tempdb..#BLK_OTH_CARD') IS NOT NULL DROP TABLE #BLK_OTH_CARD
IF OBJECT_ID('tempdb..#BLK_OTH_CARD1') IS NOT NULL DROP TABLE #BLK_OTH_CARD1
IF OBJECT_ID('tempdb..#BLK_OUT_ACCT_75') IS NOT NULL DROP TABLE #BLK_OUT_ACCT_75
IF OBJECT_ID('tempdb..#BLK_OUT_ACCT_35') IS NOT NULL DROP TABLE #BLK_OUT_ACCT_35
IF OBJECT_ID('tempdb..#BLK_OUT_ACCT_75_1') IS NOT NULL DROP TABLE #BLK_OUT_ACCT_75_1
IF OBJECT_ID('tempdb..#BLK_OUT_ACCT_35_1') IS NOT NULL DROP TABLE #BLK_OUT_ACCT_35_1
IF OBJECT_ID('tempdb..#BLK_OUT_CARD_75') IS NOT NULL DROP TABLE #BLK_OUT_CARD_75
IF OBJECT_ID('tempdb..#BLK_OUT_CARD_35') IS NOT NULL DROP TABLE #BLK_OUT_CARD_35
IF OBJECT_ID('tempdb..#BLK_OUT_CARD_35_1') IS NOT NULL DROP TABLE #BLK_OUT_CARD_35_1
IF OBJECT_ID('tempdb..#BLK_OUT_CARD_75_1') IS NOT NULL DROP TABLE #BLK_OUT_CARD_75_1
--IF OBJECT_ID('tempdb..#ECS') IS NOT NULL DROP TABLE #ECS
IF OBJECT_ID('tempdb..#UIDRP_BLK_BASE') IS NOT NULL DROP TABLE #UIDRP_BLK_BASE
IF OBJECT_ID('tempdb..#EX_B15') IS NOT NULL DROP TABLE #EX_B15
IF OBJECT_ID('tempdb..#X35') IS NOT NULL DROP TABLE #X35
IF OBJECT_ID('tempdb..#X75') IS NOT NULL DROP TABLE #X75
--IF OBJECT_ID('tempdb..#TKD_TMP') IS NOT NULL DROP TABLE #TKD_TMP
IF OBJECT_ID('tempdb..#ALS_TMP') IS NOT NULL DROP TABLE #ALS_TMP
IF OBJECT_ID('tempdb..#TEMP1') IS NOT NULL DROP TABLE #TEMP1
IF OBJECT_ID('tempdb..#TEMP2') IS NOT NULL DROP TABLE #TEMP2
IF OBJECT_ID('tempdb..#CHK_CACS') IS NOT NULL DROP TABLE #CHK_CACS
--IF OBJECT_ID('tempdb..#CHK_CACS1') IS NOT NULL DROP TABLE #CHK_CACS1
--IF OBJECT_ID('tempdb..#CHK_CACS2') IS NOT NULL DROP TABLE #CHK_CACS2
--IF OBJECT_ID('tempdb..#CHK_CACS3') IS NOT NULL DROP TABLE #CHK_CACS3
--IF OBJECT_ID('tempdb..#CHK_CACS4') IS NOT NULL DROP TABLE #CHK_CACS4
--IF OBJECT_ID('tempdb..#CHK_CACS5') IS NOT NULL DROP TABLE #CHK_CACS5
--IF OBJECT_ID('tempdb..#CHK_CACS6') IS NOT NULL DROP TABLE #CHK_CACS6
--IF OBJECT_ID('tempdb..#CHK_CACS7') IS NOT NULL DROP TABLE #CHK_CACS7
--IF OBJECT_ID('tempdb..#CHK_CACS_F') IS NOT NULL DROP TABLE #CHK_CACS_F
--IF OBJECT_ID('tempdb..#CACS_EXT_ECMS_NEW') IS NOT NULL DROP TABLE #CACS_EXT_ECMS_NEW

--IF OBJECT_ID('tempdb..#REC') IS NOT NULL DROP TABLE #REC
--IF OBJECT_ID('tempdb..#CARDS') IS NOT NULL DROP TABLE #CARDS
--IF OBJECT_ID('tempdb..#BUDTRAN') IS NOT NULL DROP TABLE #BUDTRAN
--IF OBJECT_ID('tempdb..#CARD_LEVEL') IS NOT NULL DROP TABLE #CARD_LEVEL
--IF OBJECT_ID('tempdb..#ACCT_DAILY') IS NOT NULL DROP TABLE #ACCT_DAILY
	    
IF OBJECT_ID('tempdb..#ALS_0') IS NOT NULL DROP TABLE #ALS_0
IF OBJECT_ID('tempdb..#ECS') IS NOT NULL DROP TABLE #ECS
IF OBJECT_ID('tempdb..#ECS2') IS NOT NULL DROP TABLE #ECS2
IF OBJECT_ID('tempdb..#CACS_EXT') IS NOT NULL DROP TABLE #CACS_EXT

IF OBJECT_ID('tempdb..#Z92') IS NOT NULL DROP TABLE #Z92
IF OBJECT_ID('tempdb..#POFF_BLOCK') IS NOT NULL DROP TABLE #POFF_BLOCK
IF OBJECT_ID('tempdb..#POFF_BLOCK1') IS NOT NULL DROP TABLE #POFF_BLOCK1
IF OBJECT_ID('tempdb..#POFF_BLOCK3') IS NOT NULL DROP TABLE #POFF_BLOCK3

 /*
	
IF OBJECT_ID('tempdb..#ECS') IS NULL 
BEGIN
	CREATE TABLE #ECS
	(
		CUSTID varchar(10)
		,ACCTNMBR varchar(18)
		,CARDNMBR varchar(18)
		,CACS_STATE varchar(3)
		,ORI_AUTO_F varchar(1)
		,AUTO_FLAG varchar(1)
	)
END
ELSE
BEGIN
	TRUNCATE TABLE #ECS
END*/

	--EXPORT EXCEL Weekly_CACS_STATE_{0}_{1}筆 yyyyMMdd , count
	DECLARE @FF TABLE
	(	
		 PRG varchar(16)
		,PROCDATE datetime
		,IDNO varchar(10)
		,CARDNMBR varchar(16)
		,ORI_STATE varchar(3)
		,CACS_STATE varchar(3)
	)
	--EXPORT EXCEL Weekly_DEBT_ACCT_{0}_{1}筆 yyyyMMdd , count
	DECLARE @CHK_ACCT3 TABLE
	(		 
		 CASENO varchar(10)
		,IDNO varchar(10)
		,ACCTNMBR varchar(16)
		,CARDNMBR varchar(16)
		,CARD_IND varchar(5)
		,STATUS1 varchar(1)
		,BLK1 varchar(3)
		,BLK2 varchar(3)
		,BLK3 varchar(3)
		,UNIQUE (CASENO,IDNO,ACCTNMBR,CARDNMBR) 
	)

	DECLARE @CHK_CACS_F TABLE
	(
		CASENO bigint
		,IDNO varchar(10)
		,CUSTNAME varchar(20)
		,P_FLAG varchar(1)
		,TAG2 varchar(10)
		,ACCTNMBR varchar(16)
		,CARDNMBR varchar(16)
		,TTL_DEBT_I decimal NULL --對內債金
		,TTL_DEBT decimal NULL --對外債金
		,CACS_STATE varchar(3)
		,RECEIVE_D varchar(10) --進件日
		,R_DAY varchar(10)
		,INT_D varchar(10) --止息日
		,RE_DEBT_D varchar(10) --回覆債權日
		,RMS_STATUS varchar(3)
		,OA varchar(4)
		,WODATE date NULL
	)
	 

	DECLARE @ALS TABLE 
	(
		 CUSTID	varchar(10)
		,ACCTNMBR	varchar(18)
		,CARDNMBR	varchar(18)
		,CACS_STATE	varchar(3)
		,ORI_AUTO_F	varchar(1)
		,AUTO_FLAG	varchar(1)	 
	)
	--2019/10/23 X33
	DECLARE @WEEKCHK_PO TABLE
	(
	     ACCTNMBR varchar(16)
		,CARDNMBR varchar(16) 
		,CUSTID	varchar(10)
		,CACS_STATE	varchar(3) 
		,USER_CD14 varchar(2)
	)

	--EXPORT EXCEL OLE
	DECLARE @EXCEL TABLE
	(
		[GROUPGUID] uniqueidentifier
		,[GUID] uniqueidentifier
		,TEMPLATE VARCHAR(100)
		,FOLDER VARCHAR(20)
		,[FILENAME] VARCHAR(200)
		,SHEETNAME VARCHAR(200)
	)

	DECLARE @EXCELCELLS TABLE
	(
		PARENTID uniqueidentifier
		,CELL_Y INT
		,CELL_X INT		
		,CELLVALUE NVARCHAR(100)
		,CELLTYPE NVARCHAR(10)
	)


	--IF FILE('M:\RESULT\IDRP\NA\CACS_ROUTING\_HISTORY\IDRP_CACS_ROUTING_'+DTOS(DATE())+'.DBF')
	--	CP=0
	--	USE M:\APPS\0前置協商\AP\Dataset\Others\IDRP_FAILCODE IN 0 SHARED
	--	USE M:\DATASET\NA_IDRP\IDRP_FULL_BASE IN 0 SHARED -> UIDRP_IDRP_FULL_BASE_VW (113812) vs (113804)
	--	USE 'M:\APPS\0前置協商\AP\Dataset\JCIC_Query\Z93\Z93_ZZM210' IN 0 SHARED ALIAS Z93
	--	USE M:\APPS\0前置協商\AP\Dataset\JCIC_Reporting\JCIC_47 IN 0 SHARED
	--	USE M:\DATASET\IDRP_BASE\IDRP_BASE IN 0 SHARED ORDER TAG ID_TAG
	--	USE 'M:\DATASET\REC_COMBO\REC_COMBO_'+SUBSTR(DTOS(DATE()-1),3,6) IN 0 SHARED ALIAS REC ORDER TAG CARDNMBR
	--	USE 'M:\DATASET\CARDS_DBF\'+DTOS(DATE()-1)+'\CARDS' IN 0 SHARED ORDER TAG CARDNMBR
	--	USE 'M:\DATASET\CARDS_DBF\'+DTOS(DATE()-1)+'\BUDTRAN' IN 0 SHARED ORDER TAG CARDNMBR
	--	USE M:\DataSet\CUS_DATA\NA\CUSTINFO IN 0 SHARED -> UIDRP_CUS_IDRP_CUSTINFO (90591)
	--	IF FILE('M:\Dataset\SAS_CPMB_GP\'+DTOS(DATE()-1)+'\CARD_LEVEL.DBF' ) AND FILE('M:\Dataset\SAS_CPMB_GP\'+DTOS(DATE()-1)+'\ACCT_DAILY.DBF')
	--		USE 'M:\Dataset\SAS_CPMB_GP\'+DTOS(DATE()-1)+'\CARD_LEVEL' IN 0 SHARED ORDER TAG CARDNMBR
	--		USE 'M:\Dataset\SAS_CPMB_GP\'+DTOS(DATE()-1)+'\ACCT_DAILY' IN 0 SHARED ORDER TAG ACCTNMBR
	--	ELSE
	--		CP=1
	--		MESSAGEBOX('今日DWH DATASET尚未DOWNLOAD !!')
	--	ENDIF
	--ELSE
	--	CP=1
	--	MESSAGEBOX('須等今日CACS Routing檔案產生才可執行')
	--ENDIF
	BEGIN TRY

	IF (SELECT COUNT(*) FROM  UIDRP_IDRP_CACS_ROUTING WHERE CAST(PRCDATE as DATE) = @R_DATE_CACS) > 0
	BEGIN
		SELECT @COUNT1 = COUNT(*) FROM GET_CARD_LEVEL_FN(@DATAAS)
		SELECT @COUNT2 = COUNT(*) FROM GET_ACCT_DAILY_FN(@DATAAS)
		IF NOT (@COUNT1>0 AND @COUNT2> 0) 
		BEGIN
			SET @MESSAGE='今日DWH DATASET尚未DOWNLOAD !!'
			--RAISERROR(@MESSAGE,16,1)
			-- 程式結束
		END
	END
	ELSE
	BEGIN
		SET @MESSAGE='須等今日CACS Routing檔案產生才可執行 !!'
		--RAISERROR(@MESSAGE,16,1)
		-- 程式結束
	END
	
	--F_DATE1=CTOD(SUBSTR(DTOC(R_DATE),1,8)+'01')
	--SET @F_DATE= CAST(CONVERT(VARCHAR(8),@R_DATE,111)+'01' AS DATE)
	--F_WEEK=DOW(F_DATE1)-1
	--SET @F_WEEK = DATEPART (dw, @R_DATE)-1
	--DIFF1=F_WEEK-1
	--SET @DIFF1 = @F_WEEK-1
	--F_DATE2=R_DATE
	-- Wait by sage Start
	--FOLDER1='M:\RESULT\IDRP\NA\WEEKLY_CHECK\'+SUBSTR(DTOS(R_DATE),1,6)+'\WEEK'+ALLTRIM(STR(INT((DAY(F_DATE2)-DIFF1)/7)+1))+'\'+DTOS(R_DATE)+'\'
	--IF !DIRECTORY(FOLDER1) 
	--	MKDIR(FOLDER1)
	--ENDIF
	
	--CREATE TABLE DO_NOT_STATE (CARDNMBR C(16))
	--SELE DO_NOT_STATE
	--APPEND FROM M:\RESULT\IDRP\NA\weekly_check\do_not_state XL5
	--DELETE FROM DO_NOT_STATE WHERE EMPTY(CARDNMBR)
	--SELE DO_NOT_STATE
	--PACK
	-- Wait By Sage END

	DELETE FROM UIDRP_DO_NOT_STATE WHERE CARDNMBR IS NULL
		 
		--IIF(cardblock IS NULL,1,0) DESC, CRD_EXPDT DESC,CRD_CNXDT DESC

  --   SELECT ID_TAG,CARDNMBR,CACS_STATE,RMS_STATUS,CARD_IND, ROW_NUMBER() OVER (PARTITION BY cardnmbr ORDER BY IIF(cardblock IS NULL,1,0) DESC) AS SEQNO  
	 --INTO #IDRP_BASE_EX
	 --FROM COGDB3.dbo.IDRP_BASE	
	 --WHERE (SUBSTRING(RMS_STATUS,1,1)<>'9' OR SUBSTRING(RMS_STATUS,1,2) IN ('96','98'))
		--AND CARD_IND='P' 
		--AND PRODTYPE NOT IN ('ML','MP')
	 --   AND CARDNMBR IN (SELECT CARDNMBR FROM dbo.DS_REC_COMBO_VW) 
	 --   AND SUBSTRING(CACS_STATE,1,1) NOT IN ('Y','N') AND SUBSTRING(CACS_STATE,1,2) NOT IN ('G7','G8') AND CACS_STATE NOT IN ('G99','S97','S98','S91')



	--停催案件
	--前置協商
	;WITH ZZM200
	AS
	(
	    --若有多筆則取procdate最大一筆
		SELECT A.IDN,[dbo].TRANS_YMD(A.RC_DATE) RC_DATE FROM
		(SELECT IDN,RC_DATE, PROCDATE, ROW_NUMBER() OVER (PARTITION BY IDN ORDER BY PROCDATE DESC) AS SEQNO FROM UIDRP_Z92_ZZM200) A
		WHERE A.SEQNO =1 AND A.PROCDATE >= CAST(DATEADD(Day,-3,@R_DATE_CACS) AS DATE)	 
	)	
	,IDRP_BASE_EX
	AS
	(
		 SELECT ID_TAG,CARDNMBR,CACS_STATE,RMS_STATUS,CARD_IND, ROW_NUMBER() OVER (PARTITION BY cardnmbr ORDER BY IIF(cardblock IS NULL,1,0) DESC,CRD_EXPDT DESC,CRD_CNXDT DESC) AS SEQNO  	 
		 FROM COGDB3.dbo.IDRP_BASE	
		 WHERE (SUBSTRING(RMS_STATUS,1,1)<>'9' OR SUBSTRING(RMS_STATUS,1,2) IN ('96','98'))
			AND CARD_IND='P' 
			AND PRODTYPE NOT IN ('ML','MP')
			AND CARDNMBR IN (SELECT CARDNMBR FROM dbo.DS_REC_COMBO_VW) 
			AND SUBSTRING(CACS_STATE,1,1) NOT IN ('Y','N') AND SUBSTRING(CACS_STATE,1,2) NOT IN ('G7','G8') AND CACS_STATE NOT IN ('G99','S97','S98','S91')
	)
	INSERT INTO @FF (PRG,PROCDATE,IDNO,CARDNMBR,ORI_STATE,CACS_STATE)
	SELECT 'WCHK_STOP_COLL'AS PRG, GETDATE(), M.IDNO, B.CARDNMBR, B.CACS_STATE AS ORI_STATE,''
	FROM ZZM200 A  
    INNER JOIN UIDRP_IDRP_FULL_BASE_VW M ON M.IDNO=A.IDN AND M.REQ_DEBT_D=A.RC_DATE AND M.FAIL_D IS NULL --並排除IDN & REQ_DEBT_D= RC_DATE 在UIDRP_DE_IDRP_CUSTINFO的fail_d不為NULL
	INNER JOIN IDRP_BASE_EX B ON M.IDNO=B.ID_TAG AND B.SEQNO=1 
	UNION ALL --前置調解
	SELECT 'WCHK_STOP_COLL'AS PRG, GETDATE(), M.IDNO, B.CARDNMBR, B.CACS_STATE AS ORI_STATE,''
	FROM  UIDRP_IDRP_FULL_BASE_VW M 	 
	INNER JOIN IDRP_BASE_EX B ON M.IDNO=B.ID_TAG AND B.SEQNO=1  
	WHERE M.IF_COMM='Y' AND M.FAIL_D IS NULL  
	  AND CAST(M.RECEIVE_D AS DATE) >= CAST(DATEADD(Day,-3,@R_DATE_CACS) AS DATE)	 


	--簽約完成案件
	;WITH CARDS_BUDTRAN_TKD
	AS
	(
		SELECT CUSTID,CARDNMBR,CACS_STATE FROM dbo.DS_CARDS_VW WHERE ([LOCATION] NOT IN ('860103','860104') OR SUBSTRING(CACS_STATE,1,1) IN ('V','Q','S'))
		  AND (SUBSTRING(CACS_STATE,1,1) NOT IN ('Y','N') AND CACS_STATE NOT IN ('S97','S98','S91','G99','S34','S36','S37'))
		UNION ALL 
		SELECT CUSTID,CARDNMBR,CACS_STATE FROM dbo.DS_BUDTRAN_VW  WHERE([LOCATION] NOT IN ('860103','860104') OR SUBSTRING(CACS_STATE,1,1) IN ('V','Q','S'))
		  AND (SUBSTRING(CACS_STATE,1,1) NOT IN ('Y','N') AND CACS_STATE NOT IN ('S97','S98','S91','G99','S34','S36','S37'))
	) 
	,DE_IDRP_RENGTI
	AS
	(   -- 變更 REQ_DEBT_D 找最大的那一筆
		SELECT CASENO,IDNO,REQ_DEBT_D,FAIL_D,ROW_NUMBER() OVER (PARTITION BY IDNO ORDER BY REQ_DEBT_D DESC) AS SEQNO FROM UIDRP_DE_IDRP_RENGTI
	)
	,DE_IDRP_CI
	AS
	(
		--排除IDNO+docdate mapping IDNO+req_dabt_d in UIDRP_DE_IDRP_CUSTINFO FAIL_D is not null
	    SELECT IDNO,ISNULL(REQ_DEBT_D,COMM_R_D) AS REQ_DEBT_D,FAIL_D,FIRSTPAY_D,FAIL_RESN FROM UIDRP_DE_IDRP_CUSTINFO WHERE FAIL_D IS NOT NULL  
	)
	,DE_IDRP_CR
	AS
	(
		--排除  OPENDATE 加一個月 = FIRSTPAY_D
	    SELECT IDNO,ISNULL(REQ_DEBT_D,COMM_R_D) AS REQ_DEBT_D,FAIL_D FROM UIDRP_DE_IDRP_CUSTINFO WHERE FAIL_D IS NOT NULL  
	    UNION ALL
		--排除變更 req_dabt_d in UIDRP_DE_IDRP_CUSTINFO FAIL_D is not null
		SELECT IDNO,REQ_DEBT_D,FAIL_D FROM DE_IDRP_RENGTI
		WHERE SEQNO=1 AND FAIL_D IS NOT NULL
		UNION ALL
		--排除變更 req_dabt_d in UIDRP_DE_IDRP_CUSTINFO FAIL_D is null 找原  UIDRP_DE_IDRP_CUSTINFO FAIL_D is not null
		SELECT R1.IDNO,R1.REQ_DEBT_D ,M1.FAIL_D
		FROM DE_IDRP_RENGTI AS R1
		LEFT JOIN UIDRP_DE_IDRP_CUSTINFO AS M1 ON M1.CASENO=R1.CASENO AND M1.IDNO=R1.IDNO AND M1.FAIL_D IS NOT NULL
		WHERE R1.SEQNO=1 AND R1.FAIL_D IS NULL 		 
	)
	INSERT INTO @FF (PRG,PROCDATE,IDNO,CARDNMBR,ORI_STATE,CACS_STATE)
	SELECT 'WCHK_TKD'AS PRG,GETDATE(), A.CUSTID AS IDNO, B.CARDNMBR, B.CACS_STATE AS ORI_STATE,'' AS CACS_STATE
	FROM UIDRP_CUS_IDRP_CUSTINFO A
	INNER JOIN CARDS_BUDTRAN_TKD B ON A.CUSTID=B.custid
	LEFT JOIN DE_IDRP_CR M ON M.IDNO=A.CUSTID AND CAST(M.REQ_DEBT_D AS DATE)=A.DOCDATE 
	LEFT JOIN DE_IDRP_CI O ON O.IDNO=A.CUSTID AND (CAST(O.FIRSTPAY_D AS DATE)=CAST(DATEADD(m,1,A.OPENDATE) AS DATE) OR O.FAIL_RESN='00')
	WHERE M.IDNO IS NULL AND O.IDNO IS NULL 
	--ORDER BY A.CUSTID,B.CARDNMBR

	--覆催案件
	--前置協商
	;WITH ZZM203
	AS
	(
	    --若有多筆則取procdate最大一筆
		SELECT A.IDN,[dbo].TRANS_YMD(A.RC_DATE) RC_DATE FROM
		(SELECT IDN,RC_DATE, PROCDATE, ROW_NUMBER() OVER (PARTITION BY IDN ORDER BY PROCDATE DESC) AS SEQNO FROM UIDRP_Z92_ZZM203) A
		WHERE A.SEQNO =1 AND A.PROCDATE >= CAST(DATEADD(Day,-3,@R_DATE_CACS) AS DATE)	 
	)	
	,CARDS_BUDTRAN_RESUME
	AS
	(
		SELECT CUSTID,CARDNMBR,CACS_STATE FROM dbo.DS_CARDS_VW WHERE (SUBSTRING(CACS_STATE,1,1) IN ('Y','N') OR SUBSTRING(CACS_STATE,1,2) IN ('G7','G8') OR CACS_STATE  IN ('G99'))
		UNION ALL 
		SELECT CUSTID,CARDNMBR,CACS_STATE FROM dbo.DS_BUDTRAN_VW  WHERE (SUBSTRING(CACS_STATE,1,1) IN ('Y','N')  OR SUBSTRING(CACS_STATE,1,2) IN ('G7','G8') OR CACS_STATE IN ('G99'))
	) 	 
	INSERT INTO @FF (PRG,PROCDATE,IDNO,CARDNMBR,ORI_STATE,CACS_STATE)
	SELECT 'WCHK_RESUME_COLL' AS PRG,GETDATE(), A.IDN AS IDNO, B.CARDNMBR, B.CACS_STATE AS ORI_STATE,'' AS CACS_STATE
	FROM ZZM203 A  
	INNER JOIN CARDS_BUDTRAN_RESUME B ON A.IDN=B.custid

	--前置調解
	;WITH CARDS_BUDTRAN_RESUMEX
	AS
	(
		SELECT CUSTID,CARDNMBR,CACS_STATE FROM dbo.DS_CARDS_VW WHERE  (SUBSTRING(CACS_STATE,1,1) IN ('Y','N') OR SUBSTRING(CACS_STATE,1,2) IN ('G7','G8') OR CACS_STATE  IN ('G99'))
		UNION ALL 
		SELECT CUSTID,CARDNMBR,CACS_STATE FROM dbo.DS_BUDTRAN_VW  WHERE  (SUBSTRING(CACS_STATE,1,1) IN ('Y','N')  OR SUBSTRING(CACS_STATE,1,2) IN ('G7','G8') OR CACS_STATE IN ('G99'))
	) 	 
	INSERT INTO @FF (PRG,PROCDATE,IDNO,CARDNMBR,ORI_STATE,CACS_STATE)
	SELECT 'WCHK_RESUME_COLL' AS PRG,GETDATE(), M.IDNO, B.CARDNMBR, B.CACS_STATE AS ORI_STATE,
	CASE WHEN SUBSTRING(CACS_STATE,1,2)='G7' AND  FAIL_RESN IN ('11','12','13','14','15','16','17','18','19','21','49') THEN 'G74'
	     WHEN SUBSTRING(CACS_STATE,1,2)='G7' THEN 'G76'
		 WHEN SUBSTRING(CACS_STATE,1,2)='G8' THEN 'G86'
		 WHEN SUBSTRING(CACS_STATE,1,1)='N' THEN 'N41' ELSE '' END AS CACS_STATE
    FROM  UIDRP_IDRP_FULL_BASE_VW M 	
	INNER JOIN CARDS_BUDTRAN_RESUMEX B ON M.IDNO=B.custid
	WHERE M.IF_COMM='Y' AND FAIL_D IS NOT NULL 
	AND CAST(FAIL_D AS DATE) >= CAST(DATEADD(DAY,-3,@R_DATE_CACS) AS DATE)
	AND FAIL_RESN IS NOT NULL AND FAIL_RESN <> '99' 
	  
 
 
	 
 
    --SELECT PRG,PROCDATE,IDNO,CARDNMBR,ORI_STATE,CACS_STATE FROM @FF  

   
    --DELETE FROM @FF WHERE  CARDNMBR IN (SELECT CARDNMBR FROM UIDRP_DO_NOT_STATE)
	 
  

	--COPY TO FOLDER1+'Weekly_CACS_STATE_'+DTOS(DATE())+'_'+ALLTRIM(STR(RECCOUNT()))+'筆' XL5

	--** Weekly DEBT ACCT ** -----------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------------------------------
	--&&看看有沒漏ACCT
	--I=1
	--STOP=0
	--DO WHILE STOP=0
	--	IF FILE('M:\Dataset\SAS_CPMB_GP\'+DTOS(R_DATE-I)+'\CARD_LEVEL.DBF' ) AND FILE('M:\Dataset\SAS_CPMB_GP\'+DTOS(R_DATE-I)+'\ACCT_DAILY.DBF')
	--		STOP=1
	--		USE 'M:\Dataset\SAS_CPMB_GP\'+DTOS(R_DATE-I)+'\CARD_LEVEL' IN 0 SHARED ORDER TAG CARDNMBR
	--		USE 'M:\Dataset\SAS_CPMB_GP\'+DTOS(R_DATE-I)+'\ACCT_DAILY' IN 0 SHARED ORDER TAG ACCTNMBR
	--	ELSE
	--		STOP=0
	--		I=I+1
	--	ENDIF
	--ENDDO
	--USE M:\DATASET\IDRP_BASE\IDRP_BASE IN 0 SHARED ORDER TAG ID_TAG
	--USE M:\DATASET\NA_IDRP\IDRP_DEBTDTL IN 0 SHARED
	--USE M:\DATASET\NA_IDRP\IDRP_FULL_BASE IN 0 SHARED
	--USE CHK_HIST IN 0                                    


	--SELE VAL(CASENO) AS CASENO1, CASENO, IDNO FROM IDRP_DEBTDTL WHERE APP_DATE>={^2013/01/01} INTO CURSOR DEBT_ACCT
	--SELE*FROM DEBT_ACCT ORDER BY CASENO1 INTO CURSOR DEBT_ACCT1
	--SELE*FROM DEBT_ACCT1 GROUP BY CASENO INTO DBF DEBT_ACCT2
   
	--每次記錄在 UIDRP_CHK_HIST 不會重複
	--CREATE TABLE CHK_ACCT (CASENO C(10), IDNO C(10), ACCTNMBR C(16), CARDNMBR C(16), CARD_IND C(5))

    SELECT A.CASENO,A.IDNO INTO #DEBT_ACCT FROM (
	    SELECT  ROW_NUMBER() OVER (PARTITION BY CASENO ORDER BY CASENO DESC) AS SEQNO, CASENO,IDNO 		 
		FROM UIDRP_DE_IDRP_DEBTDTL 
		WHERE APP_DATE>= CAST('2013/01/01' AS DATE)
	) A 
	WHERE A.SEQNO=1 

 

  
	INSERT INTO @CHK_ACCT3
	SELECT A.CASENO,A.IDNO,B.ACCTNMBR,B.CARDNMBR,B.CARD_IND,
        SPACE(1) AS STATUS1,SPACE(3) AS BLK1, SPACE(3) AS BLK2, SPACE(3) AS BLK3
	FROM #DEBT_ACCT A	 	 
	INNER JOIN COGDB3.dbo.IDRP_BASE B On B.ID_TAG = A.IDNO 
	WHERE LTRIM(RTRIM(CAST(A.CASENO AS varchar)))+LTRIM(RTRIM(B.ACCTNMBR)) NOT IN (SELECT LTRIM(RTRIM(CAST(CASENO AS VARCHAR)))+LTRIM(RTRIM(ACCTNMBR)) FROM UIDRP_DE_IDRP_DEBTDTL) 
	AND ISNULL(B.ACCTNMBR,'')<>'' AND B.ACCTNMBR NOT LIKE '13000155%' AND B.ACCTNMBR NOT IN (SELECT ACCTNMBR FROM UIDRP_CHK_HIST ) 
	AND B.CARD_IND <> 'S'

	
	UPDATE A SET A.STATUS1 =B.STATUS1,
	             A.BLK1=RTRIM(LTRIM(B.BLK1))+RTRIM(LTRIM(B.RSN1)),
				 A.BLK2=RTRIM(LTRIM(B.BLK2))+RTRIM(LTRIM(B.RSN2))
	FROM @CHK_ACCT3 A
	INNER JOIN dbo.DS_ACCT_DAILY_VW B ON B.ACCTNMBR= A.ACCTNMBR 
	WHERE (SUBSTRING(A.ACCTNMBR,1,1) IN ('4','5') OR SUBSTRING(A.ACCTNMBR,1,2) ='36')

	UPDATE A SET A.BLK3=RTRIM(LTRIM(B.CRD_BLK))+RTRIM(LTRIM(B.CRD_BLK_RS))	             
	FROM @CHK_ACCT3 A
	INNER JOIN dbo.DS_CARD_LEVEL_VW B ON B.CARDNMBR= A.CARDNMBR 
	WHERE (SUBSTRING(A.ACCTNMBR,1,1) IN ('4','5') OR SUBSTRING(A.ACCTNMBR,1,2) ='36')


	INSERT INTO UIDRP_CHK_HIST
	SELECT CASENO,IDNO,ACCTNMBR,CARDNMBR,CARD_IND FROM @CHK_ACCT3

	--SELE CHK_ACCT3
	--COPY TO FOLDER1+'Weekly_DEBT_ACCT_'+DTOS(R_DATE)+'_'+ALLTRIM(STR(RECCOUNT()))+'µ§' XL5

	
	
	--check block code -----------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------------------------------
	--USE M:\DATASET\NA_IDRP\IDRP_FULL_BASE IN 0 SHARED
	--USE 'M:\APPS\0前置協商\AP\Dataset\JCIC_Query\Z92\Z92_ZZM200' IN 0 SHARED ALIAS Z92  &&R DATE
	--USE 'M:\APPS\0前置協商\AP\Dataset\JCIC_Query\Z93\Z93_ZZM210' IN 0 SHARED ALIAS Z93  &&Sign DATE
	--USE M:\DATASET\IDRP_BASE\IDRP_BASE IN 0 SHARED ORDER TAG ID_TAG
	--I=1
	--STOP=0
	--DO WHILE STOP=0
		--IF FILE('M:\Dataset\SAS_CPMB_GP\'+DTOS(DATE()-I)+'\CARD_LEVEL.DBF' ) AND FILE('M:\Dataset\SAS_CPMB_GP\'+DTOS(DATE()-I)+'\ACCT_DAILY.DBF') AND FILE('M:\DataSet\SAS_CLIENT_MASTER\client_master_'+SUBSTR(DTOS(DATE()-I),1,6)+'.DBF')
			--STOP=1
			--USE 'M:\Dataset\SAS_CPMB_GP\'+DTOS(DATE()-I)+'\CARD_LEVEL' IN 0 SHARED ORDER TAG CARDNMBR
			--USE 'M:\Dataset\SAS_CPMB_GP\'+DTOS(DATE()-I)+'\ACCT_DAILY' IN 0 SHARED ORDER TAG ACCTNMBR
			--USE 'M:\DataSet\SAS_CLIENT_MASTER\client_master_'+SUBSTR(DTOS(DATE()-I),1,6) IN  0 SHARED ALIAS CM ORDER TAG CUST_NBR
		--ELSE
			--STOP=0
			--I=I+1
		--ENDIF
	--ENDDO

	--CREATE TABLE DO_NOT_LIST (ACCTNMBR C(16), CARDNMBR C(16))
	--SELE DO_NOT_LIST
	--APPEND FROM M:\RESULT\IDRP\NA\weekly_check\do_not_block XL5
	DELETE FROM UIDRP_DO_NOT_LIST WHERE ISNULL(ACCTNMBR,'')='' AND ISNULL(CARDNMBR,'')=''
 

	SELECT IDNO,FAIL_RESN 
	INTO #FAIL_IDRP
	FROM UIDRP_IDRP_FULL_BASE_VW 
	WHERE ISNULL(FAIL_RESN,'')<>'' 
 

	SELECT 'S75/76' AS BTAG,CASENO,IDNO,RECEIVE_D,LEAD_BNK_N AS MAIN_CODE,FAIL_D, REQ_DEBT_D AS RDATE,CA_APPLY_D, SPACE(16) AS ACCTNMBR, SPACE(16) AS CARDNMBR, SPACE(3) AS BLK1, SPACE(3) AS BLK2, SPACE(3) AS CRD_BLK, SPACE(1) AS CRD_IND 
	INTO #R_BASE 
	FROM UIDRP_IDRP_FULL_BASE_VW 
	WHERE TRANSOUT_D IS NULL AND REQ_DOC1_D IS NULL AND REQ_DEBT_D IS NOT NULL 
	AND CAST(REQ_DEBT_D AS DATE) >= CAST('2013/1/1' AS DATE)
	AND IDNO IN (SELECT IDN FROM UIDRP_Z92_ZZM200 WHERE [dbo].TRANS_YMD(JC40_DATE) < CAST(DATEADD(Day, -3,@R_DATE) AS DATE)) 
	AND IDNO NOT IN (SELECT IDN FROM UIDRP_Z93_ZZM210) 
	 
	SELECT 'X35/36' AS BTAG,CASENO,IDNO,RECEIVE_D,LEAD_BNK_N AS MAIN_CODE,FAIL_D, REQ_DEBT_D AS RDATE,CA_APPLY_D, SPACE(16) AS ACCTNMBR, SPACE(16) AS CARDNMBR, SPACE(3) AS BLK1, SPACE(3) AS BLK2, SPACE(3) AS CRD_BLK, SPACE(1) AS CRD_IND 
	INTO #SIGN_BASE
	FROM UIDRP_IDRP_FULL_BASE_VW 
	WHERE TRANSOUT_D IS NULL AND REQ_DOC1_D IS NULL AND REQ_DEBT_D IS NOT NULL 
	AND IDNO IN (SELECT IDN FROM UIDRP_Z93_ZZM210 WHERE [dbo].TRANS_YMD(JC47_DATE) < CAST(DATEADD(Day, -3,@R_DATE) AS DATE))
	AND CA_APPLY_D IS NOT NULL AND CAST(CA_APPLY_D AS DATE) >= CAST('2013/01/01' AS DATE)
	 
	SELECT * 
	INTO #BLK_BASE_TEMP
	FROM #R_BASE 
	
	INSERT INTO #BLK_BASE_TEMP
	SELECT * FROM #SIGN_BASE	
	 
	SELECT TOP 0 * INTO #UIDRP_BLK_BASE FROM #BLK_BASE_TEMP
	-------------------------------------------------------------------

	INSERT INTO #UIDRP_BLK_BASE 
	SELECT A.BTAG,A.CASENO,A.IDNO,A.RECEIVE_D,A.MAIN_CODE,A.FAIL_D,A.RDATE,A.CA_APPLY_D,B.ACCTNMBR,B.CARDNMBR,A.BLK1,A.BLK2,A.CRD_BLK,B.CARD_IND AS CRD_IND
	FROM #BLK_BASE_TEMP A
	INNER JOIN COGDB3.dbo.IDRP_BASE B ON B.ID_TAG = A.IDNO;
	 
	 -------------------------------------------------------------------
	-- SELE* FROM BLK_BASE WHERE CARDNMBR IN ('4','5','36') GROUP BY CARDNMBR INTO DBF BLK_BASE0
  
    SELECT A.BTAG,A.CASENO,A.IDNO,A.RECEIVE_D,A.MAIN_CODE,A.FAIL_D,A.RDATE,A.CA_APPLY_D,A.ACCTNMBR,A.CARDNMBR,A.BLK1,A.BLK2,A.CRD_BLK,A.CRD_IND INTO #BLK_BASE0 
	FROM 
	(
	    SELECT  ROW_NUMBER() OVER (PARTITION BY CARDNMBR ORDER BY RECEIVE_D DESC) AS SEQNO, * 
		FROM #UIDRP_BLK_BASE 
		WHERE (SUBSTRING(CARDNMBR,1,1) IN ('4','5') OR SUBSTRING(CARDNMBR,1,2) ='36')
	) A 
	WHERE A.SEQNO=1


    SELECT TOP 0 ACCTNMBR, CARDNMBR, CUST_NBR, SPACE(10) AS IDNO, CRD_IND INTO #BLK_OTH_CARD FROM dbo.DS_CARD_LEVEL_VW	
	--IF @IsTODAY = 1 
	--BEGIN
		INSERT INTO #BLK_OTH_CARD
		SELECT ACCTNMBR, CARDNMBR, CUST_NBR, SPACE(10) AS IDNO, CRD_IND 	
		FROM dbo.DS_CARD_LEVEL_VW  --UIDRP_CARD_LEVEL
		WHERE ACCTNMBR IN (SELECT ACCTNMBR FROM #BLK_BASE0 WHERE CRD_IND='P') 
		 AND CARDNMBR NOT IN (SELECT CARDNMBR FROM #BLK_BASE0)	
		 AND CRD_IND='S' 
	--END
	--ELSE
	--BEGIN
	--	SET @WHERE = 'WHERE DS.MIS_DATE='''+CONVERT(VARCHAR(10),@DATAAS,111)+''' AND DS.CRD_IND=''S'' AND DS.ACCTNMBR IN (SELECT ACCTNMBR FROM #BLK_BASE0 WHERE CRD_IND=''P'') AND DS.CARDNMBR NOT IN (SELECT CARDNMBR FROM #BLK_BASE0) '
	--    INSERT INTO #BLK_OTH_CARD EXECUTE dbo.GET_DS_EX_SP 'CARD_LEVEL',@DATAAS,@WHERE ,N'DS.ACCTNMBR,DS.CARDNMBR,DS.CUST_NBR,SPACE(10) AS IDNO,DS.CRD_IND',N''

	--END


	UPDATE A
	SET A.IDNO = B.idno
	FROM #BLK_OTH_CARD A
	INNER JOIN dbo.DS_CLIENT_MASTER_VW B ON A.CUST_NBR = B.cust_nbr
 
 

	SELECT B.BTAG, B.CASENO, A.IDNO, B.RECEIVE_D, B.MAIN_CODE, B.FAIL_D, B.RDATE, B.CA_APPLY_D, A.ACCTNMBR, A.CARDNMBR, A.CRD_IND
	INTO #BLK_OTH_CARD1
	FROM #BLK_OTH_CARD A 
	LEFT JOIN #BLK_BASE0 B ON A.ACCTNMBR=B.ACCTNMBR

	SELECT * 
	INTO #BLK_BASE1
	FROM #BLK_BASE0
	
	INSERT INTO #BLK_BASE1
	SELECT BTAG,CASENO,IDNO,RECEIVE_D,MAIN_CODE,FAIL_D,RDATE,CA_APPLY_D,ACCTNMBR,CARDNMBR,SPACE(3),SPACE(3),SPACE(3),CRD_IND
	FROM #BLK_OTH_CARD1

	--IF @IsTODAY =1 
	--BEGIN
		UPDATE A SET 
			   A.BLK1= LTRIM(RTRIM(B.BLK1)) + LTRIM(RTRIM(B.RSN1)),
			   A.BLK2= LTRIM(RTRIM(B.BLK2)) + LTRIM(RTRIM(B.RSN2))
		FROM  #BLK_BASE1 A
		INNER JOIN dbo.DS_ACCT_DAILY_VW B ON B.acctnmbr = A.ACCTNMBR

		UPDATE A SET 
		   A.CRD_BLK = LTRIM(RTRIM(B.CRD_BLK))+LTRIM(RTRIM(B.CRD_BLK_RS)),
		   A.CRD_IND = B.CRD_IND
		FROM #BLK_BASE1 A
		INNER JOIN dbo.DS_CARD_LEVEL_VW B ON B.cardnmbr = A.CARDNMBR
	--END
	--ELSE
	--BEGIN
	--	IF OBJECT_ID('tempdb..#ACCT_DAILY_UPD') IS NOT NULL DROP TABLE #ACCT_DAILY_UPD
	--	SELECT TOP 0 ACCTNMBR,BLK1,RSN1,BLK2,RSN2 INTO #ACCT_DAILY_UPD FROM dbo.DS_ACCT_DAILY_VW

	--	SET @WHERE = 'INNER JOIN #BLK_BASE1 A ON DS.ACCTNMBR = A.ACCTNMBR WHERE MIS_DATE='''+CONVERT(VARCHAR(10),@DATAAS,111)+''' '
	--	INSERT INTO #ACCT_DAILY_UPD EXECUTE dbo.GET_DS_EX_SP 'ACCT_DAILY',@DATAAS,@WHERE ,N'DS.ACCTNMBR,DS.BLK1,DS.RSN1,DS.BLK2,DS.RSN2',N''

	--	UPDATE A SET 
	--		   A.BLK1= LTRIM(RTRIM(B.BLK1)) + LTRIM(RTRIM(B.RSN1)),
	--		   A.BLK2= LTRIM(RTRIM(B.BLK2)) + LTRIM(RTRIM(B.RSN2))
	--	FROM  #BLK_BASE1 A
	--	INNER JOIN #ACCT_DAILY_UPD B ON B.acctnmbr = A.ACCTNMBR
	
	 
	--	IF OBJECT_ID('tempdb..#CARD_LEVEL_UPD') IS NOT NULL DROP TABLE #CARD_LEVEL_UPD

	--	SELECT TOP 0 CARDNMBR,CRD_BLK,CRD_BLK_RS,CRD_IND INTO #CARD_LEVEL_UPD FROM dbo.DS_CARD_LEVEL_VW
	--	SET @WHERE = 'INNER JOIN #BLK_BASE1 A ON DS.CARDNMBR = A.CARDNMBR WHERE MIS_DATE='''+CONVERT(VARCHAR(10),@DATAAS,111)+''' '
	--	INSERT INTO #CARD_LEVEL_UPD EXECUTE dbo.GET_DS_EX_SP 'CARD_LEVEL',@DATAAS,@WHERE ,N'DS.CARDNMBR,DS.CRD_BLK,DS.CRD_BLK_RS,DS.CRD_IND',N''

	--	UPDATE A SET 
	--		   A.CRD_BLK = LTRIM(RTRIM(B.CRD_BLK))+LTRIM(RTRIM(B.CRD_BLK_RS)),
	--		   A.CRD_IND = B.CRD_IND
	--	FROM #BLK_BASE1 A
	--	INNER JOIN #CARD_LEVEL_UPD B ON B.cardnmbr = A.CARDNMBR
	--END

 
	SELECT CARDNMBR
	INTO #EX_B15
	FROM #BLK_BASE1 
	WHERE CRD_IND='S' AND CRD_BLK='B15' 

	SELECT *, SPACE(1) AS TO_BLOCK, SPACE(2) AS TO_BRSN, SPACE(1) AS TO_CRD_BLK, SPACE(2) AS TO_CRD_RSN, SPACE(1) AS OTHER_S 
	INTO #X35
	FROM #BLK_BASE1
	WHERE SUBSTRING(BLK1,2,2) NOT IN ('35','36') AND SUBSTRING(BLK2,2,2) NOT IN ('35','36') AND SUBSTRING(CRD_BLK,2,2) NOT IN ('35','36') 
	AND SUBSTRING(BLK1,1,1) NOT IN ('W','U','F','L','D') AND SUBSTRING(BLK2,1,1) NOT IN ('F','L') AND SUBSTRING(CRD_BLK,1,1) NOT IN ('F','L')
	AND BTAG='X35/36' 
	AND CAST(RDATE AS DATE) > CAST('2012/10/01' AS DATE)
	AND CAST(CA_APPLY_D AS DATE) <= CAST(DATEADD(Day,-5,GETDATE()) AS DATE) 
	AND (SUBSTRING(ACCTNMBR,1,1) IN ('4','5') OR SUBSTRING(ACCTNMBR,1,2) ='36') 
	AND CARDNMBR NOT IN (SELECT CARDNMBR FROM #EX_B15) ;
	
 
	UPDATE #X35	SET OTHER_S='Y' WHERE ACCTNMBR NOT IN (SELECT ACCTNMBR FROM #X35 WHERE CRD_IND='P') AND CRD_IND='S'
 	UPDATE #X35 SET TO_BLOCK='W', TO_BRSN='35' WHERE (SUBSTRING(BLK2,1,1)='W' OR SUBSTRING(BLK1,1,1)='W' ) AND CRD_IND='P' AND MAIN_CODE='021' 
 	UPDATE #X35 SET TO_BLOCK='B', TO_BRSN='35' WHERE (SUBSTRING(BLK2,1,1)<>'W' OR SUBSTRING(BLK1,1,1)<>'W')	AND CRD_IND='P' AND ISNULL(TO_BLOCK,'')='' AND MAIN_CODE='021'
	UPDATE #X35 SET TO_BLOCK='B', TO_BRSN='35' WHERE (SUBSTRING(BLK2,1,1)<>'W' OR SUBSTRING(BLK1,1,1)<>'W')	AND ISNULL(TO_BLOCK,'')='' AND IDNO IN (SELECT IDNO FROM #SIGN_BASE) AND CRD_IND='P' AND MAIN_CODE='021'
    UPDATE #X35 SET TO_CRD_BLK='B', TO_CRD_RSN='35' WHERE (ISNULL(CRD_BLK,'')='' OR SUBSTRING(CRD_BLK,1,1)<>'W') AND CRD_IND='S' AND OTHER_S<>'Y' AND ISNULL(TO_CRD_BLK,'')='' AND MAIN_CODE='021'
 	UPDATE #X35 SET TO_CRD_BLK='B',	TO_CRD_RSN='15' WHERE (ISNULL(CRD_BLK,'')='' OR SUBSTRING(CRD_BLK,1,1)<>'W') AND CRD_IND='S' AND OTHER_S='Y' AND ISNULL(TO_CRD_BLK,'')='' AND MAIN_CODE='021'
 	UPDATE #X35 SET TO_BLOCK='W', TO_BRSN='36' WHERE (SUBSTRING(BLK2,1,1)='W' OR SUBSTRING(BLK1,1,1)='W') AND CRD_IND='P' AND MAIN_CODE<>'021'
 	UPDATE #X35 SET TO_BLOCK='B', TO_BRSN='36' WHERE (SUBSTRING(BLK2,1,1)<>'W' OR SUBSTRING(BLK1,1,1)<>'W') AND CRD_IND='P' AND ISNULL(TO_BLOCK,'')='' AND MAIN_CODE<>'021'
 	UPDATE #X35 SET TO_BLOCK='B', TO_BRSN='36' WHERE (SUBSTRING(BLK2,1,1)<>'W' OR SUBSTRING(BLK1,1,1)<>'W') AND ISNULL(TO_BLOCK,'')='' AND IDNO IN (SELECT IDNO FROM #SIGN_BASE) AND CRD_IND='P' AND MAIN_CODE<>'021'
 	UPDATE #X35 SET TO_CRD_BLK='B', TO_CRD_RSN='36' WHERE (ISNULL(CRD_BLK,'')='' OR SUBSTRING(CRD_BLK,1,1)<>'W') AND CRD_IND='S' AND OTHER_S<>'Y' AND ISNULL(TO_CRD_BLK,'')='' AND MAIN_CODE<>'021'
 	UPDATE #X35 SET TO_CRD_BLK='B', TO_CRD_RSN='15' WHERE (ISNULL(CRD_BLK,'')='' OR SUBSTRING(CRD_BLK,1,1)<>'W') AND CRD_IND='S' AND OTHER_S='Y' AND ISNULL(TO_CRD_BLK,'')='' AND MAIN_CODE<>'021'
	
	 
	SELECT *, SPACE(1) AS TO_BLOCK, SPACE(2) AS TO_BRSN, SPACE(1) AS TO_CRD_BLK, SPACE(2) AS TO_CRD_RSN, SPACE(1) AS OTHER_S 
	INTO #X75
	FROM #BLK_BASE1
	WHERE SUBSTRING(BLK1,2,2) NOT IN ('75','76') AND SUBSTRING(BLK2,2,2) NOT IN ('75','76') AND SUBSTRING(CRD_BLK,2,2) NOT IN ('75','76') 
	AND SUBSTRING(BLK1,1,1) NOT IN ('A','B','W','U','F','L','D') AND SUBSTRING(BLK2,1,1) NOT IN ('A','B','W','U','F','L','D') AND SUBSTRING(BLK2,1,1) NOT IN ('U','F','L') AND SUBSTRING(CRD_BLK,1,1) NOT IN ('F','L') 
	AND BTAG='S75/76' 
	AND CAST(RDATE AS DATE) > CAST('2012/10/01' AS DATE)
	AND CAST(RDATE AS DATE) <= CAST(DATEADD(DAY,-5,GETDATE()) AS DATE) 
	AND (SUBSTRING(ACCTNMBR,1,1) IN ('4','5') OR SUBSTRING(ACCTNMBR,1,2) ='36')   
	AND CARDNMBR NOT IN (SELECT CARDNMBR FROM #EX_B15) 

	UPDATE #X75 SET OTHER_S='Y' WHERE ACCTNMBR NOT IN (SELECT ACCTNMBR FROM #X75 WHERE CRD_IND='P') AND CRD_IND='S' 
	UPDATE #X75 SET TO_BLOCK='S' WHERE ISNULL(BLK2,'')='' AND ISNULL(BLK1,'') = '' AND dbo.ALLTRIM(SUBSTRING(CRD_BLK,2,2))='' AND CRD_IND='P'
	UPDATE #X75 SET TO_BLOCK='S' WHERE SUBSTRING(BLK2,1,1) NOT IN ('A', 'B', 'W', 'L', 'F', 'U') AND SUBSTRING(BLK1,1,1) NOT IN ('A', 'B', 'W', 'L', 'F', 'U') AND SUBSTRING(CRD_BLK,1,1) NOT IN ('A', 'B', 'W', 'L', 'F', 'U') AND CRD_IND='P'
 	UPDATE #X75 SET TO_BLOCK=dbo.ALLTRIM(BLK2) WHERE SUBSTRING(BLK2,1,1) IN ('B','W') AND CRD_IND='P'
	UPDATE #X75 SET TO_BLOCK=dbo.ALLTRIM(BLK1) WHERE SUBSTRING(BLK1,1,1) IN ('B','W') AND CRD_IND='P' AND ISNULL(TO_BLOCK,'')=''
	UPDATE #X75 SET TO_BLOCK='B' WHERE SUBSTRING(BLK2,1,1)='A' AND CRD_IND='P'
	UPDATE #X75 SET TO_BLOCK='B' WHERE SUBSTRING(BLK1,1,1)='A' AND CRD_IND='P' AND ISNULL(TO_BLOCK,'')=''
	UPDATE #X75 SET TO_BLOCK='S' WHERE SUBSTRING(BLK1,1,1)='S' AND CRD_IND='P' AND ISNULL(TO_BLOCK,'')='' AND SUBSTRING(BLK1,2,2) NOT IN ('75','76')
	UPDATE #X75 SET TO_BLOCK='S' WHERE SUBSTRING(BLK2,1,1)='S' AND CRD_IND='P' AND ISNULL(TO_BLOCK,'')='' AND SUBSTRING(BLK2,2,2) NOT IN ('75','76')
	UPDATE #X75 SET TO_BRSN='75' WHERE MAIN_CODE='021' AND CRD_IND='P'	
	UPDATE #X75 SET TO_BRSN='76' WHERE MAIN_CODE<>'021' AND CRD_IND='P'
	UPDATE #X75 SET TO_CRD_BLK=TO_BLOCK WHERE CRD_IND='P'
	UPDATE #X75 SET TO_CRD_RSN=TO_BRSN WHERE CRD_IND='P'
	UPDATE #X75 SET TO_CRD_BLK='S' WHERE ISNULL(CRD_BLK,'')='' AND CRD_IND='S'
	UPDATE #X75 SET TO_CRD_BLK='S' WHERE ISNULL(CRD_BLK,'')<>'' AND SUBSTRING(CRD_BLK,1,1) NOT IN ('A', 'B', 'W', 'L', 'F', 'U', 'S') AND CRD_IND='S'
	UPDATE #X75 SET TO_CRD_BLK='S' WHERE SUBSTRING(CRD_BLK,1,1)='S' AND CRD_IND='S'	
	UPDATE #X75 SET TO_CRD_BLK='B' WHERE SUBSTRING(CRD_BLK,1,1)='A' AND CRD_IND='S'
	UPDATE #X75 SET TO_CRD_RSN='75' WHERE MAIN_CODE='021' AND CRD_IND='S' AND ISNULL(TO_CRD_BLK,'')<>''
	UPDATE #X75 SET TO_CRD_RSN='76' WHERE MAIN_CODE<>'021' AND CRD_IND='S' AND ISNULL(TO_CRD_BLK,'')<>''
	UPDATE #X75 SET TO_CRD_RSN='15' WHERE CRD_IND='S' AND ISNULL(TO_CRD_BLK,'')<>'' AND TO_CRD_BLK='B'
 	
	SELECT IDNO, ACCTNMBR, SPACE(16) AS CARDNMBR, FAIL_D, RDATE, TO_BLOCK, TO_BRSN, BLK1 AS ORI_BLOCK1, BLK2 AS ORI_BLOCK2, CRD_BLK AS ORI_CRDBLK, CRD_IND 
	INTO #BLK_OUT_ACCT_75
	FROM #X75 
	WHERE CRD_IND<>'S' 
	AND ACCTNMBR NOT IN (SELECT ACCTNMBR FROM UIDRP_DO_NOT_LIST )

	SELECT IDNO, ACCTNMBR, SPACE(16) AS CARDNMBR, FAIL_D, RDATE, TO_BLOCK, TO_BRSN, BLK1 AS ORI_BLOCK1, BLK2 AS ORI_BLOCK2, CRD_BLK AS ORI_CRDBLK, CRD_IND 
	INTO #BLK_OUT_ACCT_35
	FROM #X35 
	WHERE CRD_IND<>'S' 
			
	SELECT ROW_NUMBER() OVER(ORDER BY A.IDNO) AS SN, A.*, B.FAIL_RESN 
	INTO #BLK_OUT_ACCT_75_1
	FROM #BLK_OUT_ACCT_75 A 
	LEFT JOIN #FAIL_IDRP B ON A.IDNO=B.IDNO 

	
	SELECT ROW_NUMBER() OVER(ORDER BY IDNO) AS SN, *
	INTO #BLK_OUT_ACCT_35_1 
	FROM #BLK_OUT_ACCT_35 
 
		
	SELECT IDNO, SPACE(16) AS ACCTNMBR, CARDNMBR, FAIL_D, RDATE, TO_CRD_BLK AS [BLOCK], TO_CRD_RSN AS BLOCKRSN, BLK1 AS ORI_BLOCK1, BLK2 AS ORI_BLOCK2, CRD_BLK AS ORI_CRDBLK, CRD_IND 
	INTO #BLK_OUT_CARD_75
	FROM #X75 
	WHERE CRD_IND<>'S' AND CARDNMBR NOT IN (SELECT CARDNMBR FROM UIDRP_DO_NOT_LIST) 
	UNION ALL 
	SELECT IDNO, SPACE(16) AS ACCTNMBR, CARDNMBR, FAIL_D, RDATE, TO_CRD_BLK AS [BLOCK], TO_CRD_RSN AS BLOCKRSN, BLK1 AS ORI_BLOCK1, BLK2 AS ORI_BLOCK2, CRD_BLK AS ORI_CRDBLK, CRD_IND  
	FROM #X75  
	WHERE CRD_IND='S' AND SUBSTRING(CRD_BLK ,2,2) NOT IN ('75','76') AND CARDNMBR NOT IN (SELECT CARDNMBR FROM UIDRP_DO_NOT_LIST) 


	SELECT IDNO, SPACE(16) AS ACCTNMBR, CARDNMBR, FAIL_D, RDATE, TO_CRD_BLK AS [BLOCK], TO_CRD_RSN AS BLOCKRSN, BLK1 AS ORI_BLOCK1, BLK2 AS ORI_BLOCK2, CRD_BLK AS ORI_CRDBLK, CRD_IND 
	INTO #BLK_OUT_CARD_35
	FROM #X35 
	WHERE CRD_IND<>'S' 
	UNION ALL	
	SELECT IDNO, SPACE(16) AS ACCTNMBR, CARDNMBR, FAIL_D, RDATE, TO_CRD_BLK AS [BLOCK], TO_CRD_RSN AS BLOCKRSN, BLK1 AS ORI_BLOCK1, BLK2 AS ORI_BLOCK2, CRD_BLK AS ORI_CRDBLK, CRD_IND  
	FROM #X35  
	WHERE CRD_IND='S' AND SUBSTRING(CRD_BLK ,2,2) NOT IN ('35','36') 

	
	SELECT ROW_NUMBER() OVER(ORDER BY A.IDNO) AS SN, A.*, B.FAIL_RESN 
	INTO #BLK_OUT_CARD_75_1
	FROM #BLK_OUT_CARD_75 A 
	LEFT JOIN #FAIL_IDRP B ON A.IDNO=B.IDNO 
	
	SELECT ROW_NUMBER() OVER (ORDER BY IDNO) AS SN , * 
	INTO #BLK_OUT_CARD_35_1
	FROM #BLK_OUT_CARD_35
	
	DECLARE @GROUPID UNIQUEIDENTIFIER,@GUID UNIQUEIDENTIFIER,@FFOUT VARCHAR(200)
	DECLARE @BLK_OUT_ACCT_75_1_CNT INT,@BLK_OUT_CARD_75_1_CNT INT,@Block_TEMP_CNT INT
	 
	SET @GROUPID = NEWID()
	SET @GUID = NEWID()
	
	SELECT @BLK_OUT_ACCT_75_1_CNT = COUNT(*) FROM #BLK_OUT_ACCT_75_1
	SELECT @BLK_OUT_CARD_75_1_CNT = COUNT(*) FROM #BLK_OUT_CARD_75_1

	SET @Block_TEMP_CNT = @BLK_OUT_ACCT_75_1_CNT + @BLK_OUT_CARD_75_1_CNT

/*
	SELE BLK_OUT_ACCT_75_1
	A=RECCOUNT()
	SELE BLK_OUT_CARD_75_1
	B=RECCOUNT()
	C=ALLTRIM(STR(A+B))
	FFOUT=FOLDER1+'Weekly_block_list_X7576_'+DTOS(R_DATE)+'_'+C+'筆'
	OLE1.WORKBOOKS.OPEN('M:\APPS\0前置協商\AP\Report\WEEKLY_CHECK\Block_TEMP.xls')
	OLE1.SHEETS("Cover Page ").SELECT
*/
	SET @FFOUT = 'Weekly_block_list_X7576_'+CONVERT(VARCHAR(8),@R_DATE,112)+'_'+CAST(@Block_TEMP_CNT AS VARCHAR(10))+'筆.xls'

	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'Block_TEMP.xls','TEMPLATE',@FFOUT,'Cover Page'
	--OLE1.CELLS(1,2).VALUE=DTOC(R_DATE)
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 0 , 1 , CONVERT(VARCHAR(10),@R_DATE,111) , 'DATETIME')	
	--OLE1.CELLS(5,2).VALUE='Change Block Codes for IDRP Cases- X75 X76'
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 4 , 1 , 'Change Block Codes for IDRP Cases- X75 X76' , 'STRING')
	--OLE1.CELLS(10,1).VALUE='Total Pages 2 pages 共'+ALLTRIM(STR(A))+'筆/ 附件於後 ( included cover page ) '
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 9 , 0 , 'Total Pages 2 pages 共'+CAST(@BLK_OUT_ACCT_75_1_CNT AS VARCHAR(10))+'筆/ 附件於後 ( included cover page ) ' , 'STRING')

	
	/*
	OLE1.SHEETS("account level").SELECT
	SELE BLK_OUT_ACCT_75_1
	GO TOP
	I=2
	J=1
	SCAN
		SCATTER TO AR_BLOCK
		FOR J = 1 TO 11
			OLE1.CELLS(I,J).VALUE=AR_BLOCK[J]
		ENDFOR
		I=I+1
	ENDSCAN
	*/
	SET @GUID = NEWID()

	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'Block_TEMP.xls','TEMPLATE',@FFOUT,'account level'

	DECLARE @AR_BLOCK1 INT
	,@AR_BLOCK2 VARCHAR(10)
	,@AR_BLOCK3 VARCHAR(20)
	,@AR_BLOCK4 VARCHAR(20)
	,@AR_BLOCK5 VARCHAR(20)
	,@AR_BLOCK6 VARCHAR(20)
	,@AR_BLOCK7 VARCHAR(20)
	,@AR_BLOCK8 VARCHAR(20)
	,@AR_BLOCK9 VARCHAR(20)
	,@AR_BLOCK10 VARCHAR(20)
	,@AR_BLOCK11 VARCHAR(20)
	,@AR_BLOCK12 DATETIME
	,@AR_BLOCK13 DATETIME
	DECLARE @AR_BLOCK_I INT
	SET @AR_BLOCK_I = 1
	DECLARE CHK_CURSOR_A CURSOR FOR
	SELECT SN,IDNO,ACCTNMBR,CARDNMBR,TO_BLOCK,TO_BRSN,ORI_BLOCK1,ORI_BLOCK2,ORI_CRDBLK,CRD_IND,FAIL_RESN,FAIL_D,RDATE FROM #BLK_OUT_ACCT_75_1
	OPEN CHK_CURSOR_A
	FETCH NEXT FROM CHK_CURSOR_A INTO @AR_BLOCK1,@AR_BLOCK2,@AR_BLOCK3,@AR_BLOCK4,@AR_BLOCK5
									,@AR_BLOCK6,@AR_BLOCK7,@AR_BLOCK8,@AR_BLOCK9,@AR_BLOCK10
									,@AR_BLOCK11,@AR_BLOCK12,@AR_BLOCK13
	WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 0 , @AR_BLOCK1 , 'INT')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 1 , @AR_BLOCK2 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 2 , @AR_BLOCK3 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 3 , @AR_BLOCK4 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 4 , @AR_BLOCK5 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 5 , @AR_BLOCK6 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 6 , @AR_BLOCK7 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 7 , @AR_BLOCK8 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 8 , @AR_BLOCK9 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 9 , @AR_BLOCK10 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 10 , @AR_BLOCK11 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 11 , CONVERT(varchar(10),@AR_BLOCK12,111) , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 12 , CONVERT(varchar(10),@AR_BLOCK13,111) , 'STRING')

			SET @AR_BLOCK_I = @AR_BLOCK_I + 1
			FETCH NEXT FROM CHK_CURSOR_A INTO @AR_BLOCK1,@AR_BLOCK2,@AR_BLOCK3,@AR_BLOCK4,@AR_BLOCK5
											,@AR_BLOCK6,@AR_BLOCK7,@AR_BLOCK8,@AR_BLOCK9,@AR_BLOCK10
											,@AR_BLOCK11,@AR_BLOCK12,@AR_BLOCK13
		END

	CLOSE CHK_CURSOR_A
	DEALLOCATE CHK_CURSOR_A
	
/*
	OLE1.SHEETS("card level").SELECT
	SELE BLK_OUT_CARD_75_1
	GO TOP
	I=2
	J=1
	SCAN
		SCATTER TO AR_BLOCK1
		FOR J = 1 TO 11
			OLE1.CELLS(I,J).VALUE=AR_BLOCK1[J]
		ENDFOR
		I=I+1
	ENDSCAN
*/
    SET @GUID = NEWID()

	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'Block_TEMP.xls','TEMPLATE',@FFOUT,'Cover Page2'
	--OLE1.CELLS(1,2).VALUE=DTOC(R_DATE)
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 0 , 1 , CONVERT(VARCHAR(10),@R_DATE,111) , 'DATETIME')	
	--OLE1.CELLS(5,2).VALUE='Change Block Codes for IDRP Cases- X75 X76'
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 4 , 1 , 'Change Block Codes for IDRP Cases- X75 X76' , 'STRING')
	--OLE1.CELLS(10,1).VALUE='Total Pages 2 pages 共'+ALLTRIM(STR(A))+'筆/ 附件於後 ( included cover page ) '
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 9 , 0 , 'Total Pages 2 pages 共'+CAST(@BLK_OUT_CARD_75_1_CNT AS VARCHAR(10))+'筆/ 附件於後 ( included cover page ) ' , 'STRING')


	SET @GUID = NEWID()

	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'Block_TEMP.xls','TEMPLATE',@FFOUT,'card level'

	DECLARE @AR_BLOCK1_1 INT
	,@AR_BLOCK1_2 VARCHAR(10)
	,@AR_BLOCK1_3 VARCHAR(20)
	,@AR_BLOCK1_4 VARCHAR(20)
	,@AR_BLOCK1_5 VARCHAR(20)
	,@AR_BLOCK1_6 VARCHAR(20)
	,@AR_BLOCK1_7 VARCHAR(20)
	,@AR_BLOCK1_8 VARCHAR(20)
	,@AR_BLOCK1_9 VARCHAR(20)
	,@AR_BLOCK1_10 VARCHAR(20)
	,@AR_BLOCK1_11 VARCHAR(20)
	,@AR_BLOCK1_12 DATETIME
	,@AR_BLOCK1_13 DATETIME
	DECLARE @AR_BLOCK1_I INT
	SET @AR_BLOCK1_I = 1

	DECLARE CHK_CURSOR_B CURSOR FOR
	SELECT SN,IDNO,ACCTNMBR,CARDNMBR,BLOCK,BLOCKRSN,ORI_BLOCK1,ORI_BLOCK2,ORI_CRDBLK,CRD_IND,FAIL_RESN,FAIL_D,RDATE FROM #BLK_OUT_CARD_75_1
	OPEN CHK_CURSOR_B
	FETCH NEXT FROM CHK_CURSOR_B INTO @AR_BLOCK1_1,@AR_BLOCK1_2,@AR_BLOCK1_3,@AR_BLOCK1_4,@AR_BLOCK1_5
									,@AR_BLOCK1_6,@AR_BLOCK1_7,@AR_BLOCK1_8,@AR_BLOCK1_9,@AR_BLOCK1_10
									,@AR_BLOCK1_11,@AR_BLOCK1_12,@AR_BLOCK1_13
	WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 0 , @AR_BLOCK1_1 , 'INT')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 1 , @AR_BLOCK1_2 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 2 , @AR_BLOCK1_3 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 3 , @AR_BLOCK1_4 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 4 , @AR_BLOCK1_5 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 5 , @AR_BLOCK1_6 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 6 , @AR_BLOCK1_7 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 7 , @AR_BLOCK1_8 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 8 , @AR_BLOCK1_9 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 9 , @AR_BLOCK1_10 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 10 , @AR_BLOCK1_11 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 11 , CONVERT(varchar(10),@AR_BLOCK1_12,111) , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 12 , CONVERT(varchar(10),@AR_BLOCK1_13,111) , 'STRING')

			SET @AR_BLOCK1_I = @AR_BLOCK1_I + 1
			FETCH NEXT FROM CHK_CURSOR_B INTO @AR_BLOCK1_1,@AR_BLOCK1_2,@AR_BLOCK1_3,@AR_BLOCK1_4,@AR_BLOCK1_5
											,@AR_BLOCK1_6,@AR_BLOCK1_7,@AR_BLOCK1_8,@AR_BLOCK1_9,@AR_BLOCK1_10
											,@AR_BLOCK1_11,@AR_BLOCK1_12,@AR_BLOCK1_13
		END

	CLOSE CHK_CURSOR_B
	DEALLOCATE CHK_CURSOR_B

	--EXPORT EXCEL OLE Part.2
	DECLARE @BLK_OUT_ACCT_35_1_CNT INT
	,@BLK_OUT_CARD_35_1_CNT INT
	,@Block_TEMP1_CNT INT

	SET @GROUPID = NEWID()
	SET @GUID = NEWID()
	/*
	--SELE BLK_OUT_ACCT_35_1
	--A=RECCOUNT()
	--SELE BLK_OUT_CARD_35_1
	--B=RECCOUNT()
	--C=ALLTRIM(STR(A+B))
	*/
	SELECT @BLK_OUT_ACCT_35_1_CNT = COUNT(*) FROM #BLK_OUT_ACCT_35_1
	SELECT @BLK_OUT_CARD_35_1_CNT = COUNT(*) FROM #BLK_OUT_CARD_35_1
	SET @Block_TEMP1_CNT = @BLK_OUT_ACCT_35_1_CNT + @BLK_OUT_CARD_35_1_CNT
	
	/*
	--FFOUT=FOLDER1+'Weekly_block_list_X3536_'+DTOS(R_DATE)+'_'+C+'筆'
	--OLE1=CREATEOBJECT("Excel.Application")
	--OLE1.VISIBLE=.F.
	--OLE1.WORKBOOKS.OPEN('M:\APPS\0前置協商\AP\Report\WEEKLY_CHECK\block_temp1.xls')
	--OLE1.SHEETS("Cover Page ").SELECT
	*/
	SET @FFOUT = 'Weekly_block_list_X3536_'+CONVERT(VARCHAR(8),@R_DATE,112)+'_'+CAST(@Block_TEMP1_CNT AS VARCHAR(10))+'筆.xls'

	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'block_temp1.xls','TEMPLATE',@FFOUT,'Cover Page'
	--OLE1.CELLS(1,2).VALUE=DTOC(R_DATE)
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 0 , 1 , CONVERT(VARCHAR(10),@R_DATE,111) , 'DATETIME')	
	--OLE1.CELLS(5,2).VALUE='Change Block Codes for IDRP Cases- X35 X36'
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 4 , 1 , 'Change Block Codes for IDRP Cases- X35 X36' , 'STRING')	
	--OLE1.CELLS(10,1).VALUE='Total Pages 2 pages 共'+ALLTRIM(STR(A))+'筆/ 附件於後 ( included cover page ) ' 
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 9 , 0 , 'Total Pages 2 pages 共'+CAST(@BLK_OUT_ACCT_35_1_CNT AS VARCHAR(10))+'筆/ 附件於後 ( included cover page ) ' , 'STRING')
	
	/*
	--OLE1.SHEETS("account level").SELECT
	--SELE BLK_OUT_ACCT_35_1
	--GO TOP
	--I=2
	--J=1
	--SCAN
	--	SCATTER TO AR_BLOCK
	--	FOR J = 1 TO 10
	--		OLE1.CELLS(I,J).VALUE=AR_BLOCK[J]
	--	ENDFOR
	--	I=I+1
	--ENDSCAN
	*/
	SET @GUID = NEWID()

	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'block_temp1.xls','TEMPLATE',@FFOUT,'account level'
	SET @AR_BLOCK_I = 1
	DECLARE CHK_CURSOR_C CURSOR FOR
	SELECT SN,IDNO,ACCTNMBR,CARDNMBR,TO_BLOCK,TO_BRSN,ORI_BLOCK1,ORI_BLOCK2,ORI_CRDBLK,CRD_IND,FAIL_D,RDATE FROM #BLK_OUT_ACCT_35_1
	OPEN CHK_CURSOR_C
	FETCH NEXT FROM CHK_CURSOR_C INTO @AR_BLOCK1,@AR_BLOCK2,@AR_BLOCK3,@AR_BLOCK4,@AR_BLOCK5
									,@AR_BLOCK6,@AR_BLOCK7,@AR_BLOCK8,@AR_BLOCK9,@AR_BLOCK10,@AR_BLOCK12,@AR_BLOCK13
	WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 0 , @AR_BLOCK1 , 'INT')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 1 , @AR_BLOCK2 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 2 , @AR_BLOCK3 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 3 , @AR_BLOCK4 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 4 , @AR_BLOCK5 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 5 , @AR_BLOCK6 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 6 , @AR_BLOCK7 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 7 , @AR_BLOCK8 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 8 , @AR_BLOCK9 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 9 , @AR_BLOCK10 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 10 , CONVERT(varchar(10),@AR_BLOCK12,111) , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK_I , 11 , CONVERT(varchar(10),@AR_BLOCK13,111) , 'STRING')

			SET @AR_BLOCK_I = @AR_BLOCK_I + 1
			FETCH NEXT FROM CHK_CURSOR_C INTO @AR_BLOCK1,@AR_BLOCK2,@AR_BLOCK3,@AR_BLOCK4,@AR_BLOCK5
											,@AR_BLOCK6,@AR_BLOCK7,@AR_BLOCK8,@AR_BLOCK9,@AR_BLOCK10,@AR_BLOCK12,@AR_BLOCK13
			IF @AR_BLOCK_I >= 65535  BREAK
		END

	CLOSE CHK_CURSOR_C
	DEALLOCATE CHK_CURSOR_C
	
	SET @GUID = NEWID()

	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'block_temp1.xls','TEMPLATE',@FFOUT,'Cover Page2'
	--OLE1.CELLS(1,2).VALUE=DTOC(R_DATE)
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 0 , 1 , CONVERT(VARCHAR(10),@R_DATE,111) , 'DATETIME')	
	--OLE1.CELLS(5,2).VALUE='Change Block Codes for IDRP Cases- X35 X36'
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 4 , 1 , 'Change Block Codes for IDRP Cases- X35 X36' , 'STRING')	
	--OLE1.CELLS(10,1).VALUE='Total Pages 2 pages 共'+ALLTRIM(STR(A))+'筆/ 附件於後 ( included cover page ) ' 
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 9 , 0 , 'Total Pages 2 pages 共'+CAST(@BLK_OUT_CARD_35_1_CNT AS VARCHAR(10))+'筆/ 附件於後 ( included cover page ) ' , 'STRING')
	

	/*
	--OLE1.SHEETS("card level").SELECT
	*/
	SET @GUID = NEWID()
	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'block_temp1.xls','TEMPLATE',@FFOUT,'card level'

	/*
	--SELE BLK_OUT_CARD_35_1
	--GO TOP
	--I=2
	--J=1
	--SCAN
	--	SCATTER TO AR_BLOCK1
	--	FOR J = 1 TO 10
	--		OLE1.CELLS(I,J).VALUE=AR_BLOCK1[J]
	--	ENDFOR
	--	I=I+1
	--ENDSCAN
	--OLE1.WORKBOOKS('block_temp1.xls').SAVEAS(FFOUT+'.xls')
	--OLE1.QUIT
	--	CLOSE DATA
	*/
	
	SET @AR_BLOCK1_I = 1
	DECLARE CHK_CURSOR_D CURSOR FOR
	SELECT SN,IDNO,ACCTNMBR,CARDNMBR,BLOCK,BLOCKRSN,ORI_BLOCK1,ORI_BLOCK2,ORI_CRDBLK,CRD_IND,FAIL_D,RDATE FROM #BLK_OUT_CARD_35_1
	OPEN CHK_CURSOR_D
	FETCH NEXT FROM CHK_CURSOR_D INTO @AR_BLOCK1_1,@AR_BLOCK1_2,@AR_BLOCK1_3,@AR_BLOCK1_4,@AR_BLOCK1_5
									,@AR_BLOCK1_6,@AR_BLOCK1_7,@AR_BLOCK1_8,@AR_BLOCK1_9,@AR_BLOCK1_10,@AR_BLOCK1_12,@AR_BLOCK1_13
	WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 0 , @AR_BLOCK1_1 , 'INT')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 1 , @AR_BLOCK1_2 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 2 , @AR_BLOCK1_3 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 3 , @AR_BLOCK1_4 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 4 , @AR_BLOCK1_5 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 5 , @AR_BLOCK1_6 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 6 , @AR_BLOCK1_7 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 7 , @AR_BLOCK1_8 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 8 , @AR_BLOCK1_9 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 9 , @AR_BLOCK1_10 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 10 , CONVERT(varchar(10),@AR_BLOCK1_12,111) , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @AR_BLOCK1_I , 11 , CONVERT(varchar(10),@AR_BLOCK1_13,111) , 'STRING')


			SET @AR_BLOCK1_I = @AR_BLOCK1_I + 1
			FETCH NEXT FROM CHK_CURSOR_D INTO @AR_BLOCK1_1,@AR_BLOCK1_2,@AR_BLOCK1_3,@AR_BLOCK1_4,@AR_BLOCK1_5
											,@AR_BLOCK1_6,@AR_BLOCK1_7,@AR_BLOCK1_8,@AR_BLOCK1_9,@AR_BLOCK1_10,@AR_BLOCK1_12,@AR_BLOCK1_13
			IF @AR_BLOCK1_I >= 65535  BREAK
		END

	CLOSE CHK_CURSOR_D
	DEALLOCATE CHK_CURSOR_D
	
		
	--** CANCLE AUTO-PAY ** ------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------------------------------
	--USE M:\DATASET\NA_IDRP\IDRP_FULL_BASE IN 0 SHARED
	--USE 'M:\DataSet\SAS_ALSL\ALSL'+SUBS(DTOS(GOMONTH(DATE(),-1)),3,4)+'A'+'.DBF' IN 0 SHARED ALIAS ALSL ORDER TAG ACCTNMBR
	--USE M:\APPS\0前置協商\AP\Dataset\Others\DDA_IND IN 0 SHARED ORDER TAG ACCTNMBR
	--USE 'M:\DATASET\CARDS_DBF\'+DTOS(DATE()-1)+'\CARDS' IN 0 SHARED ORDER TAG CARDNMBR
	--USE 'M:\DATASET\CARDS_DBF\'+DTOS(DATE()-1)+'\BUDTRAN' IN 0 SHARED ORDER TAG CARDNMBR
	--USE 'M:\DATASET\ALSEOM\ALSEOM'+SUBSTR(DTOS(DATE()-1),3,6) IN 0 SHARED ALIAS ALSEOM ORDER TAG CARDNMBR
	--USE 'M:\DATASET\REC_COMBO\REC_COMBO_'+SUBSTR(DTOS(DATE()-1),3,6) IN 0 SHARED ALIAS REC ORDER TAG CARDNMBR      &&For weekly check_cacs_state_exception use
	
	--SELE CUSTID, ACCTNMBR, CARDNMBR, CACS_STATE, SPACE(1) AS ORI_AUTO_F, 'N' AS AUTO_FLAG FROM CARDS WHERE CACS_STATE IN ('S97','S98','Y1','N8','Y6','N6') AND DATE_STATE>={^2012/10/01} INTO DBF ECS

	--mycon = CreateObject('condbs')
	--mycon.ini_path = "M:\APPS\0前置協商\AP\ini"
	--mycon.connect()
	--SQLSTR_TKD="SELECT idno FROM de_idrp_custinfo where fail_d is null and sign_d >=getdate()-60"
	--mycon.exec(SQLSTR_TKD, 'TKD_TMP')
	--SELE * FROM TKD_TMP A LEFT JOIN BUDTRAN B ON A.IDNO=B.CUSTID INTO DBF ALS_TMP
	--SELECT CUSTID, ACCTNMBR, CARDNMBR, CACS_STATE, SPACE(1) AS ORI_AUTO_F, 'N' AS AUTO_FLAG, SPACE(1) AS CL FROM ALS_TMP WHERE CACS_STATE IN ('S97','S98','Y1','N8','Y6','N6') AND DATE_STATE>={^2012/10/01} INTO DBF ALS_0
 
    SELECT TOP 0 CUSTID, ACCTNMBR, CARDNMBR, CACS_STATE, SPACE(1) AS ORI_AUTO_F, 'N' AS AUTO_FLAG INTO #ECS FROM dbo.DS_CARDS_VW 

	--IF @IsTODAY = 1 
	--BEGIN
	 
		INSERT INTO #ECS
		SELECT A.CUSTID, A.ACCTNMBR, A.CARDNMBR, A.CACS_STATE, IIF(B.dda_flag IN ('2','4'),'Y','N') AS ORI_AUTO_F, 'N' AS AUTO_FLAG 		
		FROM dbo.DS_CARDS_VW A
		LEFT JOIN  COGDB3.dbo.CACS_EXT_ECMS_NEW B ON B.acctnmbr = A.acctnmbr AND B.dda_flag IN ('2','4')
		WHERE (A.CACS_STATE IN ('S97','S98') OR SUBSTRING(A.CACS_STATE,1,2) IN ('Y1','N8','Y6','N6'))
		AND A.DATE_STATE >= CAST('2012/10/01' AS DATE)  

	--END
	--ELSE
	--BEGIN

	--	SET @WHERE = 'WHERE MIS_DATE='''+CONVERT(VARCHAR(10),@DATAAS,111)+''' AND ( DS.CACS_STATE IN (''S97'',''S98'') OR SUBSTRING(DS.CACS_STATE,1,2) IN (''Y1'',''N8'',''Y6'',''N6'') ) AND DS.DATE_STATE >= CAST(''2012/10/01'' AS DATE) '
	--	INSERT INTO #ECS EXECUTE dbo.GET_DS_EX_SP 'CARDS',@DATAAS,@WHERE ,N'DS.CUSTID,DS.ACCTNMBR,DS.CARDNMBR,DS.CACS_STATE,SPACE(1),''N''',N''	

	--	SELECT TOP 0  ACCTNMBR, CARDNMBR, dda_flag INTO #CACS_EXT FROM dbo.DS_CACS_EXT_ECMS_VW 
	--	SET @WHERE = 'INNER JOIN #ECS A ON DS.CARDNMBR = A.CARDNMBR WHERE MIS_DATE='''+CONVERT(VARCHAR(10),@DATAAS,111)+''' ' 
	--	INSERT INTO #CACS_EXT EXECUTE dbo.GET_DS_EX_SP 'CACS_EXT_ECMS',@DATAAS,@WHERE ,N'DS.ACCTNMBR,DS.CARDNMBR,DS.dda_flag',N''	

	--	UPDATE A SET ORI_AUTO_F= IIF(B.dda_flag IN ('2','4'),'Y','N')
	--	FROM #ECS A
	--	LEFT JOIN #CACS_EXT B ON B.CARDNMBR = A.CARDNMBR AND B.dda_flag IN ('2','4')

	--END
 
 	------------------------------------------------------------------------------------------------------------------------------------------------------------
	--ECS

	--ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS SN ,
 	SELECT CUSTID, ACCTNMBR, ORI_AUTO_F, AUTO_FLAG 
	INTO #ECS2 
	FROM #ECS 
	WHERE ISNULL(ORI_AUTO_F,'') <> 'N'
	AND CUSTID IN (SELECT IDNO FROM UIDRP_IDRP_FULL_BASE_VW WHERE SIGN_D IS NOT NULL AND CAST(SIGN_D AS DATE) >=CAST('2012/10/01' AS DATE) )

	DECLARE @ECS2_CNT INT

	SET @GROUPID = NEWID()
	SET @GUID = NEWID()
	SELECT @ECS2_CNT = COUNT(*) FROM #ECS2
	/*
		--SELE ECS2
		--AC=ALLTRIM(STR(RECCOUNT()))
		--FFOUT=FOLDER1+'Weekly_Cancel_Autopay_ECS_'+DTOS(R_DATE)+'_'+AC+'筆'
		--OLE1=CREATEOBJECT("Excel.Application")
		--OLE1.VISIBLE=.F.
		--OLE1.WORKBOOKS.OPEN('M:\APPS\0前置協商\AP\Report\WEEKLY_CHECK\cancelautoECS.xls')
		--OLE1.SHEETS("Cover Page ").SELECT
	*/
	SET @FFOUT = 'Weekly_Cancel_Autopay_ECS_'+CONVERT(VARCHAR(8),@R_DATE,112)+'_'+CAST(@ECS2_CNT AS VARCHAR(10))+'筆.xls'

	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'cancelautoECS.xls','TEMPLATE',@FFOUT,'Cover Page '
	--OLE1.CELLS(1,2).VALUE=DTOC(DATE())
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 0 , 1 , CONVERT(VARCHAR(10),@R_DATE,111) , 'DATETIME')	
	--OLE1.CELLS(10,1).VALUE='Total Pages 2 pages 共'+AC+'筆/ 附件於後 ( included cover page ) ' 
	INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 9 , 0 , 'Total Pages 2 pages 共'+CAST(@ECS2_CNT AS VARCHAR(10))+'筆/ 附件於後 ( included cover page ) ' , 'STRING')
	
	/*
	--OLE1.SHEETS("附件").SELECT
	*/
	
	SET @GUID = NEWID()

	INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'cancelautoECS.xls','TEMPLATE',@FFOUT,'附件'

	/*
	--SELE ECS2
	--GO TOP
	--I=2
	--J=1
	--SCAN
	--	SCATTER TO ECS_AUTO
	--	FOR J = 1 TO 5
	--		OLE1.CELLS(I,J).VALUE=ECS_AUTO[J]
	--	ENDFOR
	--	I=I+1
	--ENDSCAN
	--OLE1.WORKBOOKS('cancelautoECS.xls').SAVEAS(FFOUT+'.xls')
	--OLE1.QUIT
	*/

	DECLARE  @ECS2_2 VARCHAR(10),@ECS2_3 VARCHAR(20),@ECS2_4 VARCHAR(20),@ECS2_5 VARCHAR(20),@ECS2_I INT

	SET @ECS2_I = 1

	--SN , CUSTID, ACCTNMBR, ORI_AUTO_F, AUTO_FLAG
	DECLARE CHK_CURSOR_A CURSOR FOR SELECT CUSTID,ACCTNMBR,ORI_AUTO_F,AUTO_FLAG FROM #ECS2
	OPEN CHK_CURSOR_A
	FETCH NEXT FROM CHK_CURSOR_A INTO @ECS2_2,@ECS2_3,@ECS2_4,@ECS2_5
	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ECS2_I , 0 , @ECS2_I , 'INT')
		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ECS2_I , 1 , @ECS2_2 , 'STRING')
		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ECS2_I , 2 , @ECS2_3 , 'STRING')
		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ECS2_I , 3 , @ECS2_4 , 'STRING')
		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ECS2_I , 4 , @ECS2_5 , 'STRING')

		SET @ECS2_I = @ECS2_I + 1
		FETCH NEXT FROM CHK_CURSOR_A INTO @ECS2_2,@ECS2_3,@ECS2_4,@ECS2_5
	END

	CLOSE CHK_CURSOR_A
	DEALLOCATE CHK_CURSOR_A

	------------------------------------------------------------------------------------------------------------------------------------------------------------
	--ALS
	
 	 
    SELECT B.CUSTID, B.ACCTNMBR,B.CARDNMBR, B.CACS_STATE, IIF(C.dda_flag IN ('2','4'),'Y','N') AS ORI_AUTO_F, 'N' AS AUTO_FLAG , IIF(ISNULL(D.LOANSTAT,'')='CL','Y','') AS CL 	
	INTO #ALS_0 
	FROM  UIDRP_DE_IDRP_CUSTINFO A
	LEFT JOIN dbo.DS_BUDTRAN_VW B ON A.IDNO=B.CUSTID
	LEFT JOIN COGDB3.dbo.CACS_EXT_ECMS_NEW C ON C.acctnmbr = B.acctnmbr AND C.dda_flag IN ('2','4')
	LEFT JOIN dbo.DS_ALSEOM_VW D ON D.ACCTNMBR = B.ACCTNMBR
	WHERE A.FAIL_D IS NULL AND CAST(A.SIGN_D AS DATE) >= CAST(DATEADD(Day,-60,GETDATE()) AS DATE)
	AND (B.CACS_STATE IN ('S97','S98') OR SUBSTRING(B.CACS_STATE,1,2) IN ('Y1','N8','Y6','N6'))
	AND B.DATE_STATE >= CAST('2012/10/01' AS DATE)
	

	INSERT INTO @ALS
	SELECT CUSTID, ACCTNMBR,CARDNMBR, CACS_STATE,ORI_AUTO_F,AUTO_FLAG
	FROM #ALS_0 
	WHERE CL<>'Y'  
	AND SUBSTRING(ACCTNMBR,1,8) NOT IN ('13000155','16000155','13000199','13000195','16000199') 
	AND CUSTID IN (SELECT IDNO FROM UIDRP_IDRP_FULL_BASE_VW WHERE SIGN_D IS NOT NULL AND CAST(SIGN_D AS DATE) >=CAST('2012/10/01' AS DATE) )

	--FA to C# convert EXCEL 3270 ISNULL(ORI_AUTO_F,'') ='Y'
 

	/*
	  SELECT CUSTID, ACCTNMBR, CARDNMBR, CACS_STATE, ORI_AUTO_F, AUTO_FLAG INTO #ALS FROM #ALS_0 WHERE CL<>'Y'

	   SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS SN , CUSTID, ACCTNMBR, ORI_AUTO_F, AUTO_FLAG INTO #ALS2 
	   FROM #ALS 
	   WHERE ISNULL(ORI_AUTO_F,'') ='Y'
	   AND SUBSTRING(ACCTNMBR,1,8) NOT IN ('13000155','16000155','13000199','13000195','16000199') 
	   AND CUSTID IN (SELECT IDNO FROM UIDRP_IDRP_FULL_BASE_VW WHERE SIGN_D IS NOT NULL AND CAST(SIGN_D AS DATE) >=CAST('2012/10/01' AS DATE) )

 
		DECLARE @ALS2_CNT INT
		SET @GROUPID = NEWID()
		SET @GUID = NEWID()
	
		SELECT @ALS2_CNT = COUNT(*) FROM #ALS2

		SET @FFOUT = 'Weekly_Cancel_Autopay_ALS_'+CONVERT(VARCHAR(8),@R_DATE,112)+'_'+CAST(@ALS2_CNT AS VARCHAR(10))+'筆.xls'

		INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'cancelautoALS.xls','TEMPLATE',@FFOUT,'Cover Page '	
		--OLE1.CELLS(1,2).VALUE=DTOC(DATE())
		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 0 , 1 , CONVERT(VARCHAR(10),@R_DATE,111) , 'DATETIME')	
		--OLE1.CELLS(10,1).VALUE='Total Pages 2 pages 共'+AC+'筆/ 附件於後 ( included cover page ) ' 
		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 8 , 0 , 'Total Pages 2 pages 共'+CAST(@ALS2_CNT AS VARCHAR(10))+'筆 / 附件於後 ( included cover page ) ' , 'STRING')
	
	 
		SET @GUID = NEWID()

		INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'cancelautoALS.xls','TEMPLATE',@FFOUT,'附件'
	
		 
		DECLARE @ALS2_1 INT
		,@ALS2_2 VARCHAR(10)
		,@ALS2_3 VARCHAR(20)
		,@ALS2_4 VARCHAR(20)
		,@ALS2_5 VARCHAR(20)
		,@ALS2_I INT

		SET @ALS2_I = 2
		--SN , CUSTID, ACCTNMBR, ORI_AUTO_F, AUTO_FLAG
		DECLARE CHK_CURSOR_B CURSOR FOR SELECT SN,CUSTID,ACCTNMBR,ORI_AUTO_F,AUTO_FLAG FROM #ALS2
		OPEN CHK_CURSOR_B
		FETCH NEXT FROM CHK_CURSOR_B INTO @ALS2_1,@ALS2_2,@ALS2_3,@ALS2_4,@ALS2_5

		WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ALS2_I , 0 , @ALS2_1 , 'INT')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ALS2_I , 1 , @ALS2_2 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ALS2_I , 2 , @ALS2_3 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ALS2_I , 3 , @ALS2_4 , 'STRING')
			INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @ALS2_I , 4 , @ALS2_5 , 'STRING')

			SET @ALS2_I = @ALS2_I + 1
			FETCH NEXT FROM CHK_CURSOR_B INTO @ALS2_1,@ALS2_2,@ALS2_3,@ALS2_4,@ALS2_5
		END

		CLOSE CHK_CURSOR_B
		DEALLOCATE CHK_CURSOR_B

	*/
	------------------------------------------------------------------------------------------------------------------------------------ 
	--** chk_cacs_state_excep ** ------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------------------------------
	--DRP STATE Check(確認DRP案件的Account是否都有繞到DRP的State), Date: 2016/7/13 Requester: Iris
		--SQLSTR1 = "SELECT * FROM  DE_IDRP_DEBTDTL " + ;
		--   	             "WHERE CASENO IN (SELECT CASENO FROM DE_IDRP_CUSTINFO WHERE FAIL_D IS NULL AND (IFNODEBT='N' OR IFNODEBT IS NULL) AND REQ_DEBT_D IS NOT NULL) "+ ;
		--          	     "      AND P_FLAG='M' AND ACCTNMBR NOT LIKE '%0000000%'"
		--   mycon.exec(SQLSTR1,'TEMP1')
		--   SELECT *, SPACE(3) AS CACS_STATE FROM TEMP1 INTO CURSOR CHK_CACS READWRITE
         
		--    SQLSTR2 = "SELECT * FROM  DE_IDRP_CUSTINFO "
		--    mycon.exec(SQLSTR2,'TEMP2')
    
		SELECT *, SPACE(3) AS CACS_STATE  
		INTO #CHK_CACS
		FROM  UIDRP_DE_IDRP_DEBTDTL 
		WHERE CASENO IN (SELECT CASENO FROM UIDRP_DE_IDRP_CUSTINFO WHERE FAIL_D IS NULL AND ISNULL(IFNODEBT,'N')='N' AND REQ_DEBT_D IS NOT NULL)
		AND P_FLAG='M' 
		AND ACCTNMBR NOT LIKE '%0000000%'
	
		--IF @IsTODAY = 1 
		--BEGIN
			UPDATE A
			SET A.CACS_STATE =B.CACS_STATE
			FROM #CHK_CACS A
			LEFT JOIN dbo.DS_CARDS_VW B ON B.CARDNMBR = A.CARDNMBR

			UPDATE A
			SET A.CACS_STATE =B.CACS_STATE
			FROM #CHK_CACS A
			LEFT JOIN dbo.DS_BUDTRAN_VW B ON B.CARDNMBR = A.CARDNMBR

			UPDATE A
			SET A.CACS_STATE =B.CACS_STATE
			FROM #CHK_CACS A
			LEFT JOIN dbo.DS_REC_COMBO_VW B ON B.CARDNMBR = A.CARDNMBR
		--END
		--ELSE
		--BEGIN
	   
		--	DECLARE @UPDATE_CACS TABLE  ( CARDNMBR varchar(16)	,CACS_STATE varchar(3))

		--	SET @WHERE = 'INNER JOIN #CHK_CACS A ON DS.CARDNMBR = A.CARDNMBR WHERE MIS_DATE='''+CONVERT(VARCHAR(10),@DATAAS,111)+''' '
		--	INSERT INTO @UPDATE_CACS EXECUTE dbo.GET_DS_EX_SP 'CARDS',@DATAAS,@WHERE ,N'DS.CARDNMBR,DS.CACS_STATE',N''

		--	UPDATE A
		--	SET A.CACS_STATE =B.CACS_STATE
		--	FROM #CHK_CACS A
		--	LEFT JOIN @UPDATE_CACS B ON B.CARDNMBR = A.CARDNMBR

		--	DELETE FROM @UPDATE_CACS

		--	SET @WHERE = 'INNER JOIN #CHK_CACS A ON DS.CARDNMBR = A.CARDNMBR WHERE MIS_DATE='''+CONVERT(VARCHAR(10),@DATAAS,111)+''' '
		--	INSERT INTO @UPDATE_CACS EXECUTE dbo.GET_DS_EX_SP 'BUDTRAN',@DATAAS,@WHERE ,N'DS.CARDNMBR,DS.CACS_STATE',N''

		--	UPDATE A
		--	SET A.CACS_STATE =B.CACS_STATE
		--	FROM #CHK_CACS A
		--	LEFT JOIN @UPDATE_CACS B ON B.CARDNMBR = A.CARDNMBR

		--	DELETE FROM @UPDATE_CACS

		
		--	SET @WHERE = 'INNER JOIN #CHK_CACS A ON DS.CARDNMBR = A.CARDNMBR WHERE MIS_DATE='''+CONVERT(VARCHAR(10),@DATAAS,111)+''' '
		--	INSERT INTO @UPDATE_CACS EXECUTE dbo.GET_DS_EX_SP 'REC_COMBO',@DATAAS,@WHERE ,N'DS.CARDNMBR,DS.CACS_STATE',N''

		--	UPDATE A
		--	SET A.CACS_STATE =B.CACS_STATE
		--	FROM #CHK_CACS A
		--	LEFT JOIN @UPDATE_CACS B ON B.CARDNMBR = A.CARDNMBR

		 

		--END

 
 
		INSERT INTO @CHK_CACS_F
		SELECT A.CASENO,A.IDNO, A.CUSTNAME, A.P_FLAG,A.TAG2, A.ACCTNMBR, A.CARDNMBR, 
				TTL_DEBT_I,  --對內債金
				TTL_DEBT, --對外債金 
				ISNULL(IIF(C.CARDNMBR IS NOT NULL,C.cacs_state,A.CACS_STATE),''), 		 
				ISNULL(CONVERT(VARCHAR(10),B.RECEIVE_D, 111),'') AS RECEIVE_D,  --'進件日'
				ISNULL(CONVERT(VARCHAR(10),B.REQ_DEBT_D, 111),'') AS R_DAY, 
				ISNULL(CONVERT(VARCHAR(10),B.INT_D, 111),'') AS INT_D ,  --止息日
				ISNULL(CONVERT(VARCHAR(10),B.RE_DEBT_D,111),'') AS RE_DEBT_D , --回覆債權日
				ISNULL(C.STATUS1,'') AS RMS_STATUS, 
				ISNULL(C.OA,'') AS OA, 
				C.WODATE 		
		FROM #CHK_CACS A
		LEFT JOIN UIDRP_DE_IDRP_CUSTINFO B ON A.CASENO=B.CASENO 
		LEFT JOIN dbo.DS_REC_COMBO_VW C ON A.CARDNMBR=C.CARDNMBR 
		WHERE LEN(ISNULL(A.CACS_STATE,'')) > 0 AND A.CACS_STATE NOT IN ('S97','S98','Y11','Y12','Y61','Y62','N81','N61','G71','G81','G75','G85','G70','G72','G99','G73','G76','G74','G86','Y21','N21','N41','Y25', 'N31', 'Y20','Y66','Y63')  
		AND B.RECEIVE_D < DATEADD(Day,-3,GETDATE()) 
		AND (C.STATUS1 NOT IN ('999','900','99K') OR C.STATUS1 IS NULL)
		AND ( SUBSTRING(A.ACCTNMBR, 1,2) NOT IN ('17','11','21','25','26') OR (SUBSTRING(A.ACCTNMBR, 1,2) IN ('17','11','21','25','26') AND C.WODATE IS NOT NULL) )

 		------------------------------------------------------------------------------------------------------------------------------------------------------------
	    --COLLECTION_IDRP_WEEKCHK_PO
		------------------------------------------------------------------------------------------------------------------------------------------------------------
		--USE M:\APPS\0前置協商\AP\DATASET\JCIC_QUERY\Z92\Z92_ZZM203 IN 0 SHARED
        --USE 'M:\DATASET\CARDS_DBF\'+DTOS(DATE()-1)+'\CARDS' IN 0 SHARED ORDER TAG ID_TAG

		SELECT IDN INTO #Z92 FROM UIDRP_Z92_ZZM203 WHERE CLOSE_CODE='99' AND PROCDATE>=CAST('2018/09/01' AS DATE) AND PROCDATE<=CAST(DATEADD(Day,-7,GETDATE()) AS DATE)
	 
		SELECT A.IDNO,A.acctnmbr,A.cardnmbr,SPACE(1) AS [BLOCK],SPACE(2) AS blockrsn,A.ori_block1,A.ori_block2,A.custid,A.ID_TAG,A.cacs_state,A.u1 
		INTO #POFF_BLOCK FROM (
			 SELECT ID_TAG AS IDNO, acctnmbr, cardnmbr,acctblock1 AS ori_block1, acctblock2 AS ori_block2, [location], custid, ID_TAG, cacs_state, u1  
			 FROM  dbo.DS_CARDS_VW WHERE ID_TAG IN (SELECT IDN FROM #Z92)
			 UNION ALL
			 SELECT CUSTID AS IDNO, acctnmbr, cardnmbr,acctblock1 AS ori_block1, acctblock2 AS ori_block2, [location], custid, ID_TAG, cacs_state, u1  
			 FROM  dbo.DS_CARDS_VW WHERE CUSTID IN (SELECT IDN FROM #Z92)
		) A
 
		INSERT INTO @WEEKCHK_PO
		SELECT acctnmbr, cardnmbr, custid, cacs_state, u1  	 
		FROM #POFF_BLOCK 
		WHERE cacs_state in ('Y21','N21') AND u1<>'PO'  

		--COPY TO 'M:\RESULT\IDRP\NA\WEEKLY_CHECK\'+SUBSTR(DTOS(R_DATE),1,6)+'\COLLECTION_IDRP_WEEKCHK_PO_'+DTOS(R_DATE)+'_'+C+'筆' XL5 
		------------------------------------------------------------------------------------------------------------------------------------------------------------

		SELECT * INTO #POFF_BLOCK1 
		FROM #POFF_BLOCK
		WHERE cacs_state in ('N21','Y21') AND (SUBSTRING(ori_block1,2,2)<>'33' AND SUBSTRING(ori_block2,2,2)<>'33' ) 
	  
		UPDATE #POFF_BLOCK1 SET [BLOCK]='W', blockrsn='33' WHERE LEFT(ori_block1,1)='W' OR LEFT(ori_block2,1)='W'
		UPDATE #POFF_BLOCK1 SET [BLOCK]=LEFT(ori_block2,1), blockrsn='33' WHERE LEFT(ori_block1,1)<>'W' AND LEFT(ori_block2,1)<>'W'

		SELECT ROW_NUMBER() OVER(ORDER BY IDNO) AS sn, idno, acctnmbr,[BLOCK], blockrsn, ori_block1, ori_block2 
		INTO #POFF_BLOCK3
		FROM #POFF_BLOCK1 WHERE ACCTNMBR NOT IN ('5520000124564501','4563186302462302','4563180125172008','5433740053015605')  


		SET @GROUPID = NEWID()
		SET @GUID = NEWID()
		SET @Block_TEMP_CNT= (SELECT COUNT(*) FROM #POFF_BLOCK3)

		SET @FFOUT = 'COLLECTION_IDRP_WEEKCHK_X33_'+CONVERT(VARCHAR(8),@R_DATE,112)+'_'+CAST(@Block_TEMP_CNT AS VARCHAR(10))+'筆.xlsx'
		INSERT INTO @EXCEL SELECT @GROUPID,@GUID,'block_template.xlsx','TEMPLATE',@FFOUT,'account level'

		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 0 ,5 , 'Ori_block1', 'STRING')
 		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 0 ,6 , 'Ori_crdblk', 'STRING')
 		INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , 0 ,7 , 'Card_ind', 'STRING')
 	
		DECLARE @PO_SN INT, 
		        @PO_IDNO VARCHAR(10), 
				@PO_ACCTNMBR VARCHAR(16), 
				@PO_BLOCK VARCHAR(1), 
				@PO_BLOCKRSN VARCHAR(2), 
				@PO_ORG_BLOCK1 VARCHAR(4), 
				@PO_ORG_BLOCK2 VARCHAR(4),
		        @PO_BLOCK_I INT
	 
		 SET @PO_BLOCK_I = 1
	 
		DECLARE CHK_CURSOR_PO CURSOR FOR SELECT sn, idno, acctnmbr,[BLOCK], blockrsn, ori_block1, ori_block2 FROM #POFF_BLOCK3
		OPEN CHK_CURSOR_PO
		FETCH NEXT FROM CHK_CURSOR_PO INTO @PO_SN,@PO_IDNO,@PO_ACCTNMBR,@PO_BLOCK,@PO_BLOCKRSN,@PO_ORG_BLOCK1,@PO_ORG_BLOCK2 
		WHILE @@FETCH_STATUS = 0
		BEGIN
		    INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @PO_BLOCK_I , 0 , @PO_SN , 'INT')
		    INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @PO_BLOCK_I , 1 , @PO_IDNO , 'STRING')
		    INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @PO_BLOCK_I , 2 , @PO_ACCTNMBR , 'STRING')
		    INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @PO_BLOCK_I , 3 , @PO_BLOCK , 'STRING')
		    INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @PO_BLOCK_I , 4 , @PO_BLOCKRSN , 'STRING')
		    INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @PO_BLOCK_I , 5 , @PO_ORG_BLOCK1 , 'STRING')
		    INSERT INTO @EXCELCELLS	(PARENTID,CELL_Y,CELL_X,CELLVALUE,CELLTYPE) VALUES (@GUID , @PO_BLOCK_I , 6 , @PO_ORG_BLOCK2 , 'STRING')			 
	 

			SET @PO_BLOCK_I = @PO_BLOCK_I + 1
			FETCH NEXT FROM CHK_CURSOR_PO INTO @PO_SN,@PO_IDNO,@PO_ACCTNMBR,@PO_BLOCK,@PO_BLOCKRSN,@PO_ORG_BLOCK1,@PO_ORG_BLOCK2 
		END
		CLOSE CHK_CURSOR_PO
		DEALLOCATE CHK_CURSOR_PO
		------------------------------------------------------------------------------------------------------------------------------------------------------------

	
	SET @Status = 1
	SET @MESSAGE=@MESSAGE+ CHAR(10)+ '執行完畢' 
	END TRY
	BEGIN CATCH
		SET @STATUS= 0
		SET @MESSAGE = ERROR_MESSAGE()
	END CATCH
	
----------------------------------------------
--回傳區
----------------------------------------------
	SELECT @STATUS as [Status],@MESSAGE as [Message]
	
	-- REFER Class IDRP.Modles.MISREPORT.MISRPT101ViewModel.MISRPT10201_EXPORT.EXCELEXPORT_FF
	--COPY TO FOLDER1+'Weekly_CACS_STATE_'+DTOS(DATE())+'_'+ALLTRIM(STR(RECCOUNT()))+'筆' XL5
	SELECT PRG,PROCDATE,IDNO,CARDNMBR,ORI_STATE,CACS_STATE FROM @FF  
	-- REFER Class IDRP.Modles.MISREPORT.MISRPT101ViewModel.MISRPT10201_EXPORT.EXCELEXPORT_CHK_ACCT3
	--COPY TO FOLDER1+'Weekly_DEBT_ACCT_'+DTOS(R_DATE)+'_'+ALLTRIM(STR(RECCOUNT()))+'筆' XL5
	SELECT * FROM @CHK_ACCT3
	
	SELECT * FROM @ALS

	SELECT * FROM @CHK_CACS_F

	SELECT * FROM @WEEKCHK_PO

	SELECT * FROM @EXCEL
	SELECT * FROM @EXCELCELLS
END





