USE [COGDB2]
GO
/****** Object:  StoredProcedure [dbo].[UPDA_IDRP101100_SEND_SP]    Script Date: 2019/5/23 下午 02:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================================================================
-- Author        : alpha hsu
-- Create date   : 2019/05/9
-- SYSCode       : PDA_IDRP
-- Function Name : 更新 CCH_RECORD
-- =====================================================================================================
ALTER PROCEDURE [dbo].[UPDA_IDRP1013D0_CCH_SP]
@SEQNO int,
@SETTLE_AMT numeric(18, 0),
@SOEID varchar(10)
AS
BEGIN


IF(OBJECT_ID('TEMPDB..#LIST_ACCTNMBR')IS NOT NULL) BEGIN DROP TABLE #LIST_ACCTNMBR END

----------------------------------------------
--變數區//宣告在這個SP中會用到的變數
----------------------------------------------
DECLARE @MessageStatus TABLE (
	[Status] BIT DEFAULT(0),
	[Message] NVARCHAR(500) NULL
)
 
DECLARE @ACCTNMBR varchar(16),
        @CUSTID varchar(10),
		@CUSTNAME varchar(20),
        @COLLECTOR_ID varchar(10), 		
	    @SUBMIT_BY varchar(10),  
		@CCH_RECORD varchar(254),
		@SENDER_CACSID VARCHAR(10),
		@RECEIVER_CACSID VARCHAR(10),
		@SUBMIT_DATE VARCHAR(10),
		@CACS_STATE varchar(3) =''


SELECT @ACCTNMBR=ACCTNMBR,@CUSTID=CUSTID,@CUSTNAME=CUSTNAME,@COLLECTOR_ID=COLLECTOR_ID,@SUBMIT_BY=SUBMIT_BY, @SUBMIT_DATE = CONVERT(varchar(10),SUBMIT_DATE,111)  FROM UPDA_IDRP_SETTLE WHERE SEQNO=@SEQNO  

SET @CCH_RECORD='IDRP 提前結清 ' + LEFT(@CUSTID,4)+ 'xxx' +RIGHT(@CUSTID,3)+ ' ' + LEFT(@CUSTNAME,1)+ REPLICATE('x', LEN(@CUSTNAME)-2)+RIGHT(@CUSTNAME,1) + ' '+ @SUBMIT_BY+' checked : ' + @SUBMIT_DATE +'，清償金額:' + FORMAT(@SETTLE_AMT,'$##,##0')

--CCH Record
UPDATE UPDA_IDRP_SETTLE SET SETTLE_AMT=@SETTLE_AMT,CCH_RECORD=@CCH_RECORD WHERE SEQNO=@SEQNO  

--UPLOAD_CACS 條件 : CACS_STATE = Yxx 才需Update
SELECT M.CARDNMBR INTO #LIST_ACCTNMBR FROM 
(
	SELECT CARDNMBR FROM dbo.DS_CARDS_VW WHERE CUSTID=@CUSTID AND SUBSTRING(CACS_STATE,1,1) ='Y'
	UNION ALL
	SELECT CARDNMBR FROM dbo.DS_REC_COMBO_VW WHERE CUSTID=@CUSTID AND SUBSTRING(CACS_STATE,1,1) ='Y'
	UNION ALL
	SELECT CARDNMBR FROM dbo.DS_BUDTRAN_VW WHERE CUSTID=@CUSTID AND SUBSTRING(CACS_STATE,1,1) ='Y'
) M

 

IF EXISTS(SELECT 1 FROM #LIST_ACCTNMBR)
BEGIN
	DELETE FROM [COGDB3].[dbo].[UPLOAD_CACS]
	WHERE MIS_DATE = CAST(GETDATE() AS DATE) AND BATCH = 'PDA_IDRP' AND CARDNMBR IN (SELECT CARDNMBR FROM  #LIST_ACCTNMBR)

	INSERT INTO [COGDB3].[dbo].[UPLOAD_CACS](MIS_DATE,[TIMESTAMP],BATCH,[USER_ID],CARDNMBR,TXN_CODE,TXTLINE1,TXTLINE2)
	SELECT GETDATE(),GETDATE(),'PDA_IDRP',@SUBMIT_BY, CARDNMBR,'PDA',@CCH_RECORD,'' FROM #LIST_ACCTNMBR
END

--Send msg to小幫手
SELECT @SENDER_CACSID=CACS_ID FROM [dbo].[PERSONMASTERVW] WHERE PersonKey=@SUBMIT_BY
SELECT @RECEIVER_CACSID=CACS_ID FROM [dbo].[PERSONMASTERVW] WHERE PersonKey=@COLLECTOR_ID

INSERT INTO @MessageStatus EXEC [dbo].[UPDA_MSG101002_DELIVERY_SP] @SENDER_CACSID,@RECEIVER_CACSID,@CCH_RECORD 

----------------------------------------------
--回傳區
----------------------------------------------

SELECT * FROM @MessageStatus
 
END
